Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"

build(deps): update slang and slang_flutter dependencies to version 4.2.1 and 4.2.0 respectively; streamline slang:watch script
  melos.yaml
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/gen/strings_en.g.dart
  packages/flutter_app/lib/gen/strings_ja.g.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

refactor: streamline initialization of SharedPreferences and device locale settings
  packages/flutter_app/lib/main.dart
Labels: flutter_app

build(deps): update altive_lints, custom_lint, custom_lint_builder, custom_lint_core, riverpod_analyzer_utils, riverpod_generator, and riverpod_lint dependencies; add custom_lint_visitor package
  packages/flutter_app/pubspec.lock
Labels: flutter_app

feat: Add a REST API Client package
  packages/flutter_app/lib/features/post/view/post_page.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/package_details_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/package_details_provider.g.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.g.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/query.dart
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
  packages/flutter_app/lib/package_adaptor/rest_api_client_provider.dart
  packages/flutter_app/lib/package_adaptor/rest_api_client_provider.g.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/branches/branches.dart
  packages/flutter_app/lib/router/branches/post_routes.dart
  packages/flutter_app/lib/router/branches/pub_dev_packages_routes.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/rest_api_client/.gitignore
  packages/rest_api_client/.metadata
  packages/rest_api_client/analysis_options.yaml
  packages/rest_api_client/lib/rest_api_client.dart
  packages/rest_api_client/lib/src/models/get_package_response_body.dart
  packages/rest_api_client/lib/src/models/get_package_response_body.freezed.dart
  packages/rest_api_client/lib/src/models/get_package_response_body.g.dart
  packages/rest_api_client/lib/src/models/get_search_response_body.dart
  packages/rest_api_client/lib/src/models/get_search_response_body.freezed.dart
  packages/rest_api_client/lib/src/models/get_search_response_body.g.dart
  packages/rest_api_client/lib/src/models/latest_package_release.dart
  packages/rest_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/rest_api_client/lib/src/models/latest_package_release.g.dart
  packages/rest_api_client/lib/src/models/models.dart
  packages/rest_api_client/lib/src/models/package_name.dart
  packages/rest_api_client/lib/src/models/package_name.freezed.dart
  packages/rest_api_client/lib/src/models/package_name.g.dart
  packages/rest_api_client/lib/src/models/package_pubspec.dart
  packages/rest_api_client/lib/src/models/package_pubspec.freezed.dart
  packages/rest_api_client/lib/src/models/package_pubspec.g.dart
  packages/rest_api_client/lib/src/rest_api_client.dart
  packages/rest_api_client/lib/src/rest_api_client.g.dart
  packages/rest_api_client/pubspec.lock
  packages/rest_api_client/pubspec.yaml
Labels: flutter_app

build(deps): bump slang_flutter and slang_build_runner dependencies to version 4.3.0
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

test: add rest_api_client_test
  packages/flutter_app/lib/features/pub_dev_packages/query/package_details_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/package_details_provider.g.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.g.dart
  packages/flutter_app/pubspec.lock
  packages/rest_api_client/lib/src/models/get_package_details_response_body.dart
  packages/rest_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/rest_api_client/lib/src/models/get_package_details_response_body.g.dart
  packages/rest_api_client/lib/src/models/get_package_response_body.dart
  packages/rest_api_client/lib/src/models/get_package_response_body.g.dart
  packages/rest_api_client/lib/src/models/get_search_response_body.g.dart
  packages/rest_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/rest_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/rest_api_client/lib/src/models/get_searched_packages_response_body.g.dart
  packages/rest_api_client/lib/src/models/models.dart
  packages/rest_api_client/lib/src/models/package_pubspec.dart
  packages/rest_api_client/lib/src/rest_api_client.dart
  packages/rest_api_client/lib/src/rest_api_client.g.dart
  packages/rest_api_client/pubspec.lock
  packages/rest_api_client/pubspec.yaml
  packages/rest_api_client/test/src/rest_api_client_test.dart
Labels: flutter_app, test

chore: update slang file
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/gen/strings_en.g.dart
  packages/flutter_app/lib/gen/strings_ja.g.dart
  packages/flutter_app/lib/i18n/app_en.yaml
  packages/flutter_app/lib/i18n/app_ja.yaml
Labels: flutter_app

refactor: rest_api_client to pub_dev_api_client
  packages/flutter_app/lib/features/pub_dev_packages/query/package_details_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.dart
  packages/flutter_app/lib/package_adaptor/pub_dev_api_client_provider.dart
  packages/flutter_app/lib/package_adaptor/rest_api_client_provider.g.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/.gitignore
  packages/pub_dev_api_client/.metadata
  packages/pub_dev_api_client/analysis_options.yaml
  packages/pub_dev_api_client/lib/pub_dev_api_client.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.g.dart
  packages/pub_dev_api_client/lib/src/models/models.dart
  packages/pub_dev_api_client/lib/src/models/package_name.dart
  packages/pub_dev_api_client/lib/src/models/package_name.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_name.g.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.g.dart
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.dart
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.g.dart
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/pub_dev_api_client/test/src/pub_dev_api_client_test.dart
  packages/rest_api_client/lib/rest_api_client.dart
Labels: flutter_app, test

chore: rename provider
  packages/flutter_app/lib/features/pub_dev_packages/query/package_details_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.dart
  packages/flutter_app/lib/package_adaptor/pub_dev_api_client_provider.dart
  packages/flutter_app/lib/package_adaptor/pub_dev_api_client_provider.g.dart
Labels: flutter_app

build(deps): update cloud_firestore and firebase_performance versions
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

build(deps): update Firebase SDK version from 11.2.0 to 11.4.0
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Generate Code
  packages/convenient_widgets/lib/gen/assets.gen.dart
Labels: none

chore: update dependencies and improve pub.dev package providers
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/features/pub_dev_packages/query/package_details_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/package_details_provider.g.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.g.dart
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
Labels: flutter_app, ios

build(deps): downgrade multiple dependencies in /packages/flutter_app
  packages/flutter_app/pubspec.lock
Labels: flutter_app

refactor: rename package details provider and implement new provider for pub.dev package details
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_package_details_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_package_details_provider.g.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/query.dart
Labels: flutter_app

feat: use initialization page and providers
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/initialization_provider.dart
  packages/flutter_app/lib/initialization_provider.g.dart
  packages/flutter_app/lib/main_app.dart
  packages/flutter_app/lib/package_adaptor/configurator_provider.dart
  packages/flutter_app/lib/package_adaptor/configurator_provider.g.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.g.dart
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Fix several issues
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_name.dart
  packages/pub_dev_api_client/lib/src/models/package_name.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.freezed.dart
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, macos

chore: Fix several issues (#533)
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_name.dart
  packages/pub_dev_api_client/lib/src/models/package_name.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.freezed.dart
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, macos

chore: fix test file for avoid_hardcoded_color
  packages/util/test/src/json_converter.dart/color_converter_test.dart
Labels: test

chore: migrate TextScaleAddon.scales
  packages/widget_catalog/lib/main.dart
Labels: none

chore(deps): Flutter 3.27.1 and Dart 3.6.0
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/.gitignore
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner/AppDelegate.swift
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/pubspec.yaml
  packages/util/test/src/json_converter.dart/color_converter_test.dart
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, ios, macos, test, themes

chore: update test name
  packages/util/test/src/json_converter.dart/color_converter_test.dart
Labels: test

chore(deps): Flutter 3.27.1 and Dart 3.6.0 (#534)
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/.gitignore
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner/AppDelegate.swift
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/pubspec.yaml
  packages/util/test/src/json_converter.dart/color_converter_test.dart
  packages/widget_catalog/lib/main.dart
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, ios, macos, test, themes

fix: Update asset handling to improve SVG support and enable gapless playback
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/lib/gen/assets.gen.dart
Labels: flutter_app

refactor: Pub workspace with Melos
  .cspell/framework-words.txt
  Makefile
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

ci: disable melos bootstrap
  .cspell/framework-words.txt
  .github/workflows/flutter-app-code-check.yml
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

refactor: Pub workspace with Melos (#535)
  .cspell/framework-words.txt
  .github/workflows/flutter-app-code-check.yml
  Makefile
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, ios, macos, themes

chore: build diff
  packages/convenient_widgets/lib/gen/assets.gen.dart
Labels: none

feat: use initialization page and providers
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/initialization_provider.dart
  packages/flutter_app/lib/initialization_provider.g.dart
  packages/flutter_app/lib/main_app.dart
  packages/flutter_app/lib/package_adaptor/configurator_provider.dart
  packages/flutter_app/lib/package_adaptor/configurator_provider.g.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.g.dart
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: build diff
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.mocks.dart
Labels: flutter_app, ios, macos, test

feat: use initialization page and providers (#532)
  packages/flutter_app/lib/initialization_provider.dart
  packages/flutter_app/lib/initialization_provider.g.dart
  packages/flutter_app/lib/main_app.dart
  packages/flutter_app/lib/package_adaptor/configurator_provider.dart
  packages/flutter_app/lib/package_adaptor/configurator_provider.g.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.g.dart
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.mocks.dart
Labels: flutter_app, test

chore: update VSCode settings for improved Dart development experience
  .vscode/settings.json
Labels: none

style: melos format
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/lib/features/explore/view/explore_page.dart
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/gen/strings_en.g.dart
  packages/flutter_app/lib/gen/strings_ja.g.dart
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/pages/account/account_page.dart
  packages/flutter_app/lib/pages/app_info_page/app_info_page.dart
  packages/flutter_app/lib/pages/dashboard/dashboard_page.dart
  packages/flutter_app/lib/pages/home_page/components/home_list_card.dart
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/lib/pages/main/main_page.dart
  packages/flutter_app/lib/pages/not_found_page/error_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/util/fake_dio.dart
  packages/flutter_app/lib/pages/settings_page/settings_page.dart
  packages/flutter_app/lib/pages/theme_selection_page/theme_selection_page.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/util/logger.dart
  packages/flutter_app/lib/widgets/app_cached_network_image.dart
  packages/flutter_app/lib/widgets/text_theme_text.dart
  packages/flutter_app/test/features/theme_selector/theme_selector_provider_test.dart
  packages/flutter_app/test/features/update_requester/entities/requested_version_info_test.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.dart
  packages/flutter_app/test/util/json_converter/timestamp_converter_test.dart
  packages/flutter_app/test/util/logger/provider_logger_test.dart
  packages/flutter_app/test/util/network_connectivity/connection_state_provider_test.dart
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.dart
  packages/flutter_app/test/util/provider/provider_container.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.dart
  packages/pub_dev_api_client/lib/src/models/package_name.dart
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.dart
  packages/pub_dev_api_client/test/src/pub_dev_api_client_test.dart
Labels: flutter_app, test

build: upgrade to 3.29.1
  .fvmrc
  .vscode/settings.json
Labels: none

chore: Add dart pub workspaces support to Dependabot
  .github/dependabot.yml
Labels: none

Update packages/flutter_app/analysis_options.yaml
  packages/flutter_app/analysis_options.yaml
Labels: flutter_app

Update packages/flutter_app/analysis_options.yaml
  packages/flutter_app/analysis_options.yaml
Labels: flutter_app

Update packages/flutter_app/analysis_options.yaml
  packages/flutter_app/analysis_options.yaml
Labels: flutter_app

chore: Add dart pub workspaces support to Dependabot (#542)
  .github/dependabot.yml
Labels: none

chore: generate slang
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/gen/strings_en.g.dart
  packages/flutter_app/lib/gen/strings_ja.g.dart
Labels: flutter_app
