Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

build: Flutter 3.10.3, Dart 3.0.3 (#225)
  .fvm/fvm_config.json
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

ci: create create-release-pull-request.yml
  .github/workflows/create-release-pull-request.yml
Labels: none

ci: update create-release-pull-request.yml
  .github/workflows/create-release-pull-request.yml
Labels: none

ci: update create-release-pull-request.yml
  .github/workflows/create-release-pull-request.yml
Labels: none

Bump version and build number
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

Bump version and build number
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

Bump version and build number
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

ci: update create-release-pull-request.yml
  .github/workflows/create-release-pull-request.yml
Labels: none

ci: update create-release-pull-request secret names
  .github/workflows/create-release-pull-request.yml
Labels: none

ci: fix extension in create-release-pull-request.yml
  .github/workflows/create-release-pull-request.yml
Labels: none

Bump version and build number
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

Bump version and build number
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: bump flutter to 3.10.6
  .fvm/fvm_config.json
Labels: none

chore: bump flutterfire packages to latest
  FirebaseSDKVersionTag.txt
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
Labels: flutter_app, ios, macos

chore: bump flutterfire packages to latest (#233)
  FirebaseSDKVersionTag.txt
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
Labels: flutter_app, ios, macos

build: bump Flutter/Dart to 3.13.0/3.1.0
  .fvm/fvm_config.json
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

fix: dart fix
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/rest_api_client/lib/src/dio_client.dart
Labels: flutter_app

chore: update gap package
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: run iOS
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: flutter_app, ios

chore: remove ignore
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/splash/splash_page.dart
Labels: flutter_app

build: Flutter 3.13 (#234)
  .fvm/fvm_config.json
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/splash/splash_page.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/lib/src/dio_client.dart
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, ios, themes

build: bump app to 1.0.0+2
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: add 'pod install' to melos bs hooks
  melos.yaml
Labels: none

chore: update 'vs code' extension recommendations
  .vscode/extensions.json
Labels: none

ci: add Lint GitHub Actions workflows
  .github/workflows/lint-github-actions-workflows.yaml
Labels: none

chore: fix with shellcheck
  .github/workflows/flutter-app-code-check.yml
Labels: none

chore: add paths-ignore for flutter check
  .github/workflows/flutter-app-code-check.yml
Labels: none

chore: remove pod in melos bootstrap hooks
  melos.yaml
Labels: none

build: bump flutter sdk version to 3.13.1
  .fvm/fvm_config.json
Labels: none

build: upgrade packages
  packages/amazon_paapi/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, ios, macos

add duplicate_ignore to ignore_for_file
  packages/authenticator/build.yaml
  packages/flutter_app/build.yaml
  packages/notification_receiver/build.yaml
  packages/notification_sender/build.yaml
  packages/remote_parameter_fetcher/build.yaml
Labels: flutter_app

build: generate codes with build_runner
  packages/authenticator/lib/src/apple_authenticator.g.dart
  packages/authenticator/lib/src/auth_user_provider.g.dart
  packages/authenticator/lib/src/authenticator.g.dart
  packages/authenticator/lib/src/firebase_auth_provider.g.dart
  packages/authenticator/lib/src/google_authenticator.g.dart
  packages/flutter_app/lib/environment/src/flavor_provider.g.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.g.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.g.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/features/validator/validator_provider.g.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.g.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.g.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/router_provider.g.dart
  packages/flutter_app/lib/util/providers/app_lifecycle_state_provider.g.dart
  packages/flutter_app/lib/util/providers/locales_provider.g.dart
  packages/flutter_app/lib/util/providers/navigator_key_provider.g.dart
  packages/flutter_app/lib/util/providers/package_info_provider.g.dart
  packages/flutter_app/lib/util/providers/shared_preferences_provider.g.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.g.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.mocks.dart
  packages/notification_sender/lib/src/notification_sender_provider.g.dart
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.g.dart
  packages/remote_parameter_fetcher/test/src/remote_parameter_fetcher_test.mocks.dart
Labels: flutter_app, test

build: add firebase_app_id_file.json for macos
  .gitignore
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/macos/dev/firebase_app_id_file.json
  packages/flutter_app/macos/prod/firebase_app_id_file.json
  packages/flutter_app/macos/stg/firebase_app_id_file.json
Labels: flutter_app, macos

ci: use outputs instead of env
  .github/workflows/flutter-app-code-check.yml
Labels: none

ci: add "Pod install for Dependabot"
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

ci: add commit to "Pod install for Dependabot"
  .github/workflows/pod-install-for-dependabot.yaml
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_app_conversation_page.dart
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_message_bubble.dart
  packages/flutter_app/lib/pages/debug_page/button_catalog_page.dart
  packages/flutter_app/lib/pages/debug_page/debug_page.dart
  packages/flutter_app/lib/pages/debug_page/dialog_catalog_page.dart
  pull-request.json
Labels: flutter_app

ci: change os from ubuntu to macos
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

ci: add necessary pub get step
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

refactor: update FirebaseSDKVersionTag.txt path
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

ci: fix diff_count
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

.github/labeler.yml:

android:
  - "**/android/**/*"

documentation:
  - "**/*.md"

flutter_app:
  - "packages/flutter_app/**/*"

ios:
  - "**/ios/**/*"

macos:
  - "**/macos/**/*"

test:
  - "**/test/**/*"

themes:
  - "packages/themes/**/*"

web:
  - "**/web/**/*"
