Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

chore: Upgrade Dart SDK to version 3.7.0 across workspace packages
  packages/convenient_widgets/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.yaml
Labels: themes

style: melos format
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/convenient_widgets/lib/src/apple_auth_button.dart
  packages/convenient_widgets/lib/src/bubble_border.dart
  packages/convenient_widgets/lib/src/unfocus_on_tap.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/gen/strings_en.g.dart
  packages/flutter_app/lib/gen/strings_ja.g.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_description.dart
  packages/widget_catalog/lib/main.dart
  packages/widget_catalog/lib/main.directories.g.dart
  packages/widget_catalog/lib/widgets/apple_auth_button.dart
Labels: flutter_app, themes

chore: override intl version to resolve dependency conflict with flutter_localizations
  packages/flutter_app/pubspec.yaml
  pubspec.lock
Labels: flutter_app

chore: update dependencies for improved stability and performance
  pubspec.lock
Labels: none

build(deps): downgrade async, fake_async, leak_tracker, and vm_service versions for compatibility
  pubspec.lock
Labels: none

build(deps): bump async, fake_async, leak_tracker, and vm_service versions for compatibility
  pubspec.lock
Labels: none

build(deps): downgrade async, fake_async, leak_tracker, and vm_service versions for compatibility
  pubspec.lock
Labels: none

chore: slang の自動生成漏れ対応
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/gen/strings_en.g.dart
  packages/flutter_app/lib/gen/strings_ja.g.dart
Labels: flutter_app

build(deps): update connectivity_plus dependency path from darwin to macos
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/widget_catalog/macos/Podfile.lock
Labels: flutter_app, ios, macos

build(deps): update connectivity_plus dependency path from darwin to macos (#556)
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/widget_catalog/macos/Podfile.lock
Labels: flutter_app, ios, macos

build(deps): update create-github-app-token action input parameters to use kebab-case
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

build(gradle): replace gradle files to gradle.kts
  .fvmrc
  .vscode/extensions.json
  .vscode/settings.json
  packages/flutter_app/android/.gitignore
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/android/app/build.gradle.kts
  packages/flutter_app/android/build.gradle
  packages/flutter_app/android/build.gradle.kts
  packages/flutter_app/android/gradle.properties
  packages/flutter_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_app/android/settings.gradle
  packages/flutter_app/android/settings.gradle.kts
  packages/flutter_app/android/settings_aar.gradle
Labels: android, flutter_app

build: migrate iOS flavor to scheme method
  .github/actions/deploy_ios_app/action.yml
  .github/actions/upload_android_app/action.yml
  .vscode/launch.json
  .vscode/settings.json
  melos.yaml
  packages/flutter_app/.gitignore
  packages/flutter_app/android/.gitignore
  packages/flutter_app/android/app/build.gradle.kts
  packages/flutter_app/android/app/src/main/AndroidManifest.xml
  packages/flutter_app/ios/Flutter/Debug.xcconfig
  packages/flutter_app/ios/Flutter/Release.xcconfig
  packages/flutter_app/ios/Flutter/dev.xcconfig
  packages/flutter_app/ios/Flutter/prod.xcconfig
  packages/flutter_app/ios/Flutter/stg.xcconfig
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/stg.xcscheme
  packages/flutter_app/ios/Runner/Info.plist
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
  packages/flutter_app/ios/scripts/extract_dart_defines.sh
  packages/flutter_app/lib/main.dart
  packages/flutter_app/macos/Flutter/Flutter-Debug.xcconfig
  packages/flutter_app/macos/Flutter/Flutter-Release.xcconfig
  packages/flutter_app/macos/Podfile
  packages/flutter_app/macos/scripts/extract_dart_defines.sh
Labels: android, flutter_app, ios, macos

chore: exec flutterfire configure
  packages/flutter_app/android/app/build.gradle.kts
  packages/flutter_app/firebase.json
  packages/flutter_app/lib/environment/src/firebase_options_dev.dart
  packages/flutter_app/lib/environment/src/firebase_options_prod.dart
  packages/flutter_app/lib/environment/src/firebase_options_stg.dart
Labels: android, flutter_app

build: improve xcconfig
  packages/flutter_app/README.md
  packages/flutter_app/android/app/build.gradle.kts
  packages/flutter_app/android/app/src/prod/google-services.json
  packages/flutter_app/android/app/src/stg/google-services.json
  packages/flutter_app/firebase.json
  packages/flutter_app/ios/Flutter/Debug-dev.xcconfig
  packages/flutter_app/ios/Flutter/Debug-prod.xcconfig
  packages/flutter_app/ios/Flutter/Debug-stg.xcconfig
  packages/flutter_app/ios/Flutter/Release-dev.xcconfig
  packages/flutter_app/ios/Flutter/Release-prod.xcconfig
  packages/flutter_app/ios/Flutter/Release-stg.xcconfig
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/dev/GoogleService-Info.plist
  packages/flutter_app/ios/prod/GoogleService-Info.plist
  packages/flutter_app/ios/stg/GoogleService-Info.plist
Labels: android, documentation, flutter_app, ios

chore: remove Firebase App ID files
  packages/flutter_app/ios/dev/firebase_app_id_file.json
  packages/flutter_app/ios/prod/firebase_app_id_file.json
  packages/flutter_app/ios/stg/firebase_app_id_file.json
Labels: flutter_app, ios

build(gradle): enable minification for release build
  packages/flutter_app/android/app/build.gradle.kts
Labels: android, flutter_app

vscode: update launch.json
  .vscode/launch.json
Labels: none

chore: remove env files
  packages/flutter_app/dart_defines/dev.env
  packages/flutter_app/dart_defines/prod.env
  packages/flutter_app/dart_defines/stg.env
  packages/flutter_app/ios/Flutter/dev.xcconfig
  packages/flutter_app/ios/Flutter/prod.xcconfig
  packages/flutter_app/ios/Flutter/stg.xcconfig
  packages/flutter_app/ios/Runner/Info.plist
Labels: flutter_app, ios

docs: update README
  README.md
  packages/flutter_app/README.md
Labels: documentation, flutter_app

chore: migrate to freezed v3
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.dart
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.dart
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.dart
  packages/pub_dev_api_client/lib/src/models/package_name.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.dart
  packages/pub_dev_api_client/pubspec.yaml
Labels: flutter_app

fix: correct switch expression syntax in pub_dev_packages_page.dart
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
Labels: flutter_app

fix: update json_serializable dependency for freezed v3 compatibility
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
Labels: flutter_app

fix: switch-case then run build_runner
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.dart
  packages/flutter_app/macos/Podfile
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.g.dart
  packages/pub_dev_api_client/lib/src/models/package_name.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_name.g.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.g.dart
  pubspec.lock
Labels: flutter_app, macos

feat: add merge_group to GitHub Actions workflows
  .github/workflows/assign-author-to-pr.yaml
  .github/workflows/create-release-tag.yaml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/lint-github-actions-workflows.yaml
  .github/workflows/pod-install-for-dependabot.yaml
  .github/workflows/upload-production-android-app.yaml
  .github/workflows/upload-staging-android-app.yaml
Labels: none

fix: remove merge_group from deployment workflows
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
  .github/workflows/upload-production-android-app.yaml
  .github/workflows/upload-staging-android-app.yaml
Labels: none

fix: remove merge_group from create-release-tag and assign-author-to-pr workflows
  .github/workflows/assign-author-to-pr.yaml
  .github/workflows/create-release-tag.yaml
Labels: none

feat: flutterfire configureを自動化するスクリプトを作成して全実行
  .cursor/rules/flutter.mdc
  apps/restock/README.md
  apps/restock/android/app/build.gradle.kts
  apps/restock/android/app/src/debug/AndroidManifest.xml
  apps/restock/android/app/src/dev/google-services.json
  apps/restock/android/app/src/main/kotlin/jp/altive/restock/MainActivity.kt
  apps/restock/android/app/src/main/kotlin/jp/co/altive/fat/flutter_app/MainActivity.kt
  apps/restock/android/app/src/prod/google-services.json
  apps/restock/android/app/src/profile/AndroidManifest.xml
  apps/restock/android/app/src/stg/google-services.json
  apps/restock/android/settings.gradle.kts
  apps/restock/doc/ui.md
  apps/restock/firebase.json
  apps/restock/ios/Runner.xcodeproj/project.pbxproj
  apps/restock/ios/stg/GoogleService-Info.plist
  apps/restock/lib/environment/src/firebase_options_stg.dart
  apps/restock/lib/pages/add_item_page/add_item_page.dart
  apps/restock/lib/pages/home_page/home_page.dart
  apps/restock/lib/pages/main/main_tab.dart
  apps/restock/lib/pages/my_page/my_page.dart
  apps/restock/lib/pages/riverpod_example_page/riverpod_example_page.dart
  apps/restock/lib/pages/stock_list_page/stock_list_page.dart
  apps/restock/lib/router/app_routes.dart
  apps/restock/lib/router/app_routes.g.dart
  apps/restock/lib/router/branches/explore_routes.dart
  apps/restock/lib/router/branches/home_routes.dart
  apps/restock/lib/router/branches/pub_dev_packages_routes.dart
  apps/restock/lib/router/branches/settings_routers.dart
  apps/restock/pubspec.yaml
  apps/restock/scripts/flutterfire_configure.dart
Labels: android, documentation, ios

fix: add firebase-perf plugin then re-configure
  packages/flutter_app/README.md
  packages/flutter_app/android/app/build.gradle.kts
  packages/flutter_app/android/app/src/dev/google-services.json
  packages/flutter_app/android/app/src/main/kotlin/jp/co/altive/fat/flutter_app/MainActivity.kt
  packages/flutter_app/android/app/src/main/kotlin/jp/co/altive/flutter_app_templete/MainActivity.kt
  packages/flutter_app/android/app/src/prod/google-services.json
  packages/flutter_app/android/app/src/stg/google-services.json
  packages/flutter_app/android/settings.gradle.kts
  packages/flutter_app/firebase.json
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: android, documentation, flutter_app, ios

fix(flutter_app): flavor supports
  .cspell/framework-words.txt
  .cspell/organization-words.txt
  .vscode/launch.json
  melos.yaml
  packages/flutter_app/README.md
  packages/flutter_app/ios/Flutter/Debug-dev.xcconfig
  packages/flutter_app/ios/Flutter/Debug-prod.xcconfig
  packages/flutter_app/ios/Flutter/Debug-stg.xcconfig
  packages/flutter_app/ios/Flutter/Release-dev.xcconfig
  packages/flutter_app/ios/Flutter/Release-prod.xcconfig
  packages/flutter_app/ios/Flutter/Release-stg.xcconfig
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/pubspec.yaml
Labels: documentation, flutter_app, ios

fix flavor
  apps/restock/ios/Flutter/Debug-dev.xcconfig
  apps/restock/ios/Flutter/Debug-prod.xcconfig
  apps/restock/ios/Flutter/Debug-stg.xcconfig
  apps/restock/ios/Flutter/Release-dev.xcconfig
  apps/restock/ios/Flutter/Release-prod.xcconfig
  apps/restock/ios/Flutter/Release-stg.xcconfig
  apps/restock/ios/Runner.xcodeproj/project.pbxproj
  apps/restock/lib/pages/initialization_page.dart
Labels: ios

update theme
  .cursor/rules/flutter.mdc
  apps/restock/doc/data/firestore_collection.md
  apps/restock/doc/presentation/01_main_navigation_ui.md
  apps/restock/doc/presentation/02_home_page_ui.md
  apps/restock/doc/presentation/03_stock_list_page_ui.md
  apps/restock/doc/presentation/04_add_item_page_ui.md
  apps/restock/doc/presentation/05_menu_page_ui.md
  apps/restock/lib/pages/dashboard/dashboard_page.dart
  apps/restock/lib/pages/main/main_tab.dart
  apps/restock/lib/pages/menu_page/menu_page.dart
  apps/restock/lib/pages/stock_list_page/stock_list_page.dart
  apps/restock/lib/router/app_routes.dart
  apps/restock/lib/router/app_routes.g.dart
  apps/restock/lib/router/branches/add_item_routes.dart
  apps/restock/lib/router/branches/branches.dart
  apps/restock/lib/router/branches/dashboard_routes.dart
  apps/restock/lib/router/branches/menu_routes.dart
  apps/restock/lib/router/branches/stock_list_routes.dart
  melos.yaml
  packages/themes/lib/src/altive_theme/dark_color_scheme.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_color_scheme.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
Labels: documentation, themes

fix(flutter_app): flavor supports
  .cspell/framework-words.txt
  .cspell/organization-words.txt
  .vscode/launch.json
  melos.yaml
  packages/flutter_app/README.md
  packages/flutter_app/android/app/src/main/kotlin/jp/co/altive/fat/flutter_app/MainActivity.kt
  packages/flutter_app/firebase.json
  packages/flutter_app/ios/Flutter/Debug-dev.xcconfig
  packages/flutter_app/ios/Flutter/Debug-prod.xcconfig
  packages/flutter_app/ios/Flutter/Debug-stg.xcconfig
  packages/flutter_app/ios/Flutter/Release-dev.xcconfig
  packages/flutter_app/ios/Flutter/Release-prod.xcconfig
  packages/flutter_app/ios/Flutter/Release-stg.xcconfig
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/pubspec.yaml
Labels: android, documentation, flutter_app, ios

fix: add firebase-perf plugin then re-configure
  packages/flutter_app/README.md
  packages/flutter_app/android/app/build.gradle.kts
  packages/flutter_app/android/app/src/dev/google-services.json
  packages/flutter_app/android/app/src/main/kotlin/jp/co/altive/fat/flutter_app/MainActivity.kt
  packages/flutter_app/android/app/src/main/kotlin/jp/co/altive/flutter_app_templete/MainActivity.kt
  packages/flutter_app/android/app/src/prod/google-services.json
  packages/flutter_app/android/app/src/stg/google-services.json
  packages/flutter_app/android/settings.gradle.kts
  packages/flutter_app/firebase.json
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: android, documentation, flutter_app, ios

update firestore_collection.md
  apps/restock/README.md
  apps/restock/doc/data/firestore_collection.md
Labels: documentation

update flavors for iOS
  .vscode/launch.json
  apps/restock/.gitignore
  apps/restock/README.md
  apps/restock/firebase.json
  apps/restock/ios/Runner.xcodeproj/project.pbxproj
  apps/restock/ios/Runner/dev/GoogleService-Info.plist
  apps/restock/ios/Runner/prod/ExportOptions.plist
  apps/restock/ios/Runner/prod/GoogleService-Info.plist
  apps/restock/ios/Runner/prod/UploadOptions.plist
  apps/restock/ios/Runner/stg/ExportOptions.plist
  apps/restock/ios/Runner/stg/GoogleService-Info.plist
  apps/restock/ios/Runner/stg/UploadOptions.plist
Labels: documentation, ios

fix: ios, android build
  packages/flutter_app/.gitignore
  packages/flutter_app/README.md
  packages/flutter_app/android/app/src/main/kotlin/jp/co/altive/fat/MainActivity.kt
  packages/flutter_app/firebase.json
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner/dev/GoogleService-Info.plist
  packages/flutter_app/ios/Runner/prod/GoogleService-Info.plist
  packages/flutter_app/ios/Runner/stg/GoogleService-Info.plist
Labels: android, documentation, flutter_app, ios

go_routerを使用中止
  .cursor/rules/widget.mdc
  .vscode/settings.json
  apps/restock/doc/presentation/01_main_navigation_ui.md
  apps/restock/lib/main_app.dart
  apps/restock/lib/pages/add_item_page/add_item_page.dart
  apps/restock/lib/pages/home_page/home_page.dart
  apps/restock/lib/pages/main/main_page.dart
  apps/restock/lib/pages/main/main_tab.dart
  apps/restock/lib/pages/main/main_tab_provider.dart
  apps/restock/lib/pages/main/main_tab_provider.g.dart
  apps/restock/lib/pages/main/tab_navigator.dart
  apps/restock/lib/pages/menu_page/contact_us_page.dart
  apps/restock/lib/pages/menu_page/data_management_page.dart
  apps/restock/lib/pages/menu_page/group_list_page.dart
  apps/restock/lib/pages/menu_page/group_setting_page.dart
  apps/restock/lib/pages/menu_page/help_page.dart
  apps/restock/lib/pages/menu_page/location_category_page.dart
  apps/restock/lib/pages/menu_page/menu_page.dart
  apps/restock/lib/pages/menu_page/notification_setting_page.dart
  apps/restock/lib/pages/menu_page/profile_page.dart
  apps/restock/lib/pages/menu_page/subscription_page.dart
  apps/restock/lib/pages/menu_page/terms_page.dart
  apps/restock/lib/pages/not_found_page/error_page.dart
  apps/restock/lib/pages/settings_page/settings_page.dart
  apps/restock/lib/pages/stock_list_page/stock_list_page.dart
  apps/restock/lib/router/app_routes.dart
  apps/restock/lib/router/app_routes.g.dart
  apps/restock/lib/router/branches/add_item_routes.dart
  apps/restock/lib/router/branches/branches.dart
  apps/restock/lib/router/branches/home_routes.dart
  apps/restock/lib/router/branches/menu_routes.dart
  apps/restock/lib/router/branches/stock_list_routes.dart
  apps/restock/lib/router/router.dart
  apps/restock/lib/router/router_provider.dart
Labels: documentation

build: freezedとjson_serializableの設定を更新し、riverpod_generatorにプロバイダーのパスを追加
  apps/restock/build.yaml
Labels: none

feat: Firestore関連のモデルとプロバイダーを追加し、依存関係を更新
  apps/restock/doc/data/firestore_collection.md
  apps/restock/lib/features/update_requester/entities/requested_version_info.g.dart
  apps/restock/lib/firestore/converters/date_time_timestamp_converter.dart
  apps/restock/lib/firestore/firestore_provider.dart
  apps/restock/lib/firestore/firestore_provider.g.dart
  apps/restock/lib/firestore/models/stock_item.dart
  apps/restock/lib/firestore/models/stock_item.freezed.dart
  apps/restock/lib/firestore/models/stock_item.g.dart
  apps/restock/lib/firestore/models/user.dart
  apps/restock/lib/firestore/models/user.freezed.dart
  apps/restock/lib/firestore/models/user.g.dart
  apps/restock/lib/firestore/providers/stock_items_state_provider.dart
  apps/restock/lib/firestore/providers/stock_items_state_provider.g.dart
  apps/restock/lib/firestore/providers/user_state_provider.dart
  apps/restock/lib/firestore/providers/user_state_provider.g.dart
  apps/restock/lib/pages/main/main_tab_provider.g.dart
  apps/restock/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  apps/restock/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.g.dart
  apps/restock/lib/pages/riverpod_example_page/component/count_state_provider.dart
  apps/restock/lib/pages/riverpod_example_page/component/count_state_provider.g.dart
  apps/restock/lib/pages/riverpod_example_page/entities/todo.dart
  apps/restock/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  apps/restock/lib/pages/riverpod_example_page/entities/todo.g.dart
  apps/restock/lib/pages/riverpod_example_page/listen_provider_page/listen_provider_page.dart
  apps/restock/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.dart
  apps/restock/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.g.dart
  apps/restock/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  apps/restock/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.g.dart
  apps/restock/lib/pages/riverpod_example_page/provider_page/provider_page.dart
  apps/restock/lib/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
  apps/restock/lib/pages/riverpod_example_page/state_provider_page/state_provider_page.dart
  apps/restock/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.dart
  apps/restock/lib/pages/riverpod_example_page/util/dio_provider.dart
  apps/restock/lib/pages/riverpod_example_page/util/fake_dio.dart
  apps/restock/lib/pages/riverpod_example_page/util/util.dart
  apps/restock/pubspec.yaml
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/widget_catalog/lib/main.directories.g.dart
Labels: documentation

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"
