Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

fix: Fix extraction logic for Dart-Defines
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

ci: Update flutterfire cli and fix deploy workflows (#433)
  .cspell/flutter-words.txt
  .github/actions/deploy_ios_app/action.yml
  .github/actions/upload_android_app/action.yml
  .vscode/settings.json
  packages/flutter_app/.gitignore
  packages/flutter_app/firebase.json
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios, macos

fix: Fix extraction logic for Dart-Defines (#437)
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

build: bump app to 1.0.0+6
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

build: bump app to 1.0.0+7
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

ci: Add workflow files for Android app uploading
  .github/actions/upload_android_app/action.yml
  .github/workflows/upload-production-android-app.yaml
  .github/workflows/upload-staging-android-app.yaml
Labels: none

fix: rename secret names
  .github/workflows/upload-production-android-app.yaml
  .github/workflows/upload-staging-android-app.yaml
Labels: none

docs: Update README
  .cspell/flutter-words.txt
  packages/flutter_app/README.md
Labels: documentation, flutter_app

chore: Remove build-number input
  .github/actions/upload_android_app/action.yml
Labels: none

chore: fix input names
  .github/workflows/upload-production-android-app.yaml
  .github/workflows/upload-staging-android-app.yaml
Labels: none

fix: Android source directories
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

ci: Add workflow files for Android app uploading (#439)
  .cspell/flutter-words.txt
  .github/actions/upload_android_app/action.yml
  .github/workflows/upload-production-android-app.yaml
  .github/workflows/upload-staging-android-app.yaml
  packages/flutter_app/README.md
Labels: documentation, flutter_app

fix: Android source directories (#441)
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

refactor: Use wildcard in dependabot.yml directories
  .github/dependabot.yml
Labels: none

refactor: Use wildcard in dependabot.yml directories (#447)
  .github/dependabot.yml
Labels: none

Updated assets.gen.dart
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/lib/gen/assets.gen.dart
Labels: flutter_app

build: Update Podfile.lock
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Update minSdkVersion to 23 for Firebase compatibility
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

fix: Fix deprecated imperative apply of Flutter's Gradle plugins
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/android/build.gradle
  packages/flutter_app/android/settings.gradle
Labels: android, flutter_app

chore: Rename flutter-words to framework-words
  .cspell/framework-words.txt
  .vscode/settings.json
Labels: none

chore: Rename flutter-words to framework-words (#451)
  .cspell/framework-words.txt
  .vscode/settings.json
Labels: none

refactor: Update GoRouter routes
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/branches/branches.dart
  packages/flutter_app/lib/router/branches/dashboard_routes.dart
  packages/flutter_app/lib/router/branches/explore_routes.dart
  packages/flutter_app/lib/router/branches/home_routes.dart
  packages/flutter_app/lib/router/branches/post_routes.dart
  packages/flutter_app/lib/router/branches/settings_routers.dart
  packages/flutter_app/lib/router/router.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.g.dart
Labels: flutter_app

fix: Use router delegate for observing
  packages/flutter_app/README.md
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.g.dart
Labels: documentation, flutter_app

Update packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.dart
Labels: flutter_app

fix: Remove nameExtractor
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.g.dart
Labels: flutter_app

refactor: Update GoRouter routes (#452)
  packages/flutter_app/README.md
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/branches/branches.dart
  packages/flutter_app/lib/router/branches/dashboard_routes.dart
  packages/flutter_app/lib/router/branches/explore_routes.dart
  packages/flutter_app/lib/router/branches/home_routes.dart
  packages/flutter_app/lib/router/branches/post_routes.dart
  packages/flutter_app/lib/router/branches/settings_routers.dart
  packages/flutter_app/lib/router/router.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.g.dart
Labels: documentation, flutter_app

chore: Add diffs for flutter_gen_runner
  packages/convenient_widgets/lib/gen/assets.gen.dart
Labels: none

Update Firebase iOS SDK version from 10.27 to 10.28
  FirebaseSDKVersionTag.txt
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

build: update firebase_dynamic_links and firebase_storage versions
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Improve HomePage and Riverpod listenProvider page
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_app_bar.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_body.dart
  packages/flutter_app/lib/pages/home_page/home_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/component/count_state_provider.dart
  packages/flutter_app/lib/pages/riverpod_example_page/component/count_state_provider.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/listen_provider_page/listen_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/riverpod_example_page.dart
  packages/flutter_app/lib/widgets/app_cached_network_image.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
  packages/themes/lib/src/altive_theme/utils/build_context_extension.dart
Labels: flutter_app, themes

Update packages/flutter_app/lib/pages/home_page/home_page.dart
  packages/flutter_app/lib/pages/home_page/home_page.dart
Labels: flutter_app

chore: Improve HomePage and Riverpod listenProvider page (#460)
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_app_bar.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_body.dart
  packages/flutter_app/lib/pages/home_page/home_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/component/count_state_provider.dart
  packages/flutter_app/lib/pages/riverpod_example_page/component/count_state_provider.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/listen_provider_page/listen_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/riverpod_example_page.dart
  packages/flutter_app/lib/widgets/app_cached_network_image.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
  packages/themes/lib/src/altive_theme/utils/build_context_extension.dart
Labels: flutter_app, themes

build(deps): Update altive_lints to 1.11.1
  .github/workflows/flutter-app-code-check.yml
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/pages/home_page/home_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/util/fake_dio.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/util/analysis_options.yaml
Labels: flutter_app

build(deps): Update altive_lints to 1.11.1 (#462)
  .github/workflows/flutter-app-code-check.yml
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/pages/home_page/home_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/util/fake_dio.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/util/analysis_options.yaml
Labels: flutter_app

chore: Update FirebaseSDKVersionTag.txt to version 10.29.0
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Add ignore comment by setting avoid_hardcoded_color to true
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_message_bubble.dart
Labels: flutter_app

chore: Change avoid_hardcodedjapanese to true
  packages/flutter_app/analysis_options.yaml
Labels: flutter_app

chore: Add ignore comments to test-related files
  packages/flutter_app/test/features/update_requester/entities/requested_version_info_test.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.dart
  packages/flutter_app/test/util/json_converter/timestamp_converter_test.dart
  packages/flutter_app/test/util/logger/provider_logger_test.dart
Labels: flutter_app, test

chore: Display the doubled count value using localizations
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.yaml
  packages/flutter_app/lib/i18n/app_ja.yaml
  packages/flutter_app/lib/pages/riverpod_example_page/provider_page/provider_page.dart
Labels: flutter_app

build: Bump Flutter to 3.24.0 with Dart 3.5.0
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"
