Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - "**/android/**/*"

documentation:
  - "**/*.md"

flutter_app:
  - "packages/flutter_app/**/*"

ios:
  - "**/ios/**/*"

macos:
  - "**/macos/**/*"

test:
  - "**/test/**/*"

themes:
  - "packages/themes/**/*"

web:
  - "**/web/**/*"

ci: remove `Generate codes` and `Send notification to Slack `
  .github/workflows/flutter-app-code-check.yml
Labels: none

refactor: top_level_tab_page
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_page.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_provider.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.g.dart
Labels: flutter_app

build: update Flutter to 3.7.2
  .fvm/fvm_config.json
  packages/flutter_app/pubspec.lock
Labels: flutter_app

refactor: yaml
  .github/workflows/flutter-app-code-check.yml
  packages/flutter_app/build.yaml
Labels: flutter_app

chore: remove envied package
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: update several firebase packages
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios

chore: update Flutter SDK from 3.7.2 to 3.7.5
  .fvm/fvm_config.json
Labels: none

chore: provider in namespace class example
  packages/flutter_app/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.g.dart
Labels: flutter_app

chore: change GOOGLE_REVERSED_CLIENT_ID to googleReversedClientId
  README-ja.md
  README.md
  packages/flutter_app/ios/Runner/Info.plist
Labels: documentation, flutter_app, ios

chore: update riverpod packages to latest version
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/environment/environment.dart
  packages/flutter_app/lib/environment/src/firebase_options.dart
  packages/flutter_app/lib/environment/src/flavor.dart
  packages/flutter_app/lib/environment/src/flavor_provider.dart
  packages/flutter_app/lib/environment/src/flavor_provider.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.g.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.g.dart
  packages/flutter_app/lib/router/router_provider.g.dart
  packages/flutter_app/lib/util/providers/app_lifecycle_state_provider.g.dart
  packages/flutter_app/lib/util/providers/locales_provider.g.dart
  packages/flutter_app/lib/util/providers/navigator_key_provider.g.dart
  packages/flutter_app/lib/util/providers/package_info_provider.g.dart
  packages/flutter_app/lib/util/providers/shared_preferences_provider.g.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
Labels: flutter_app

add riverpod_lint
  melos.yaml
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_page.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

add StreamProvider example page
  packages/flutter_app/lib/pages/riverpod_example_page/riverpod_example_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.g.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
Labels: flutter_app

chore: update riverpod_lint to v1.1.2
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: update bubble_border widget
  packages/convenient_widgets/lib/src/bubble_border.dart
Labels: none

build: update Melos to 3.0.0
  Makefile
  melos.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

build: update Flutter to 3.7.7
  .fvm/fvm_config.json
Labels: none

build: update minimum Dart SDK to 2.19.4
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

chore: update japanese arb
  packages/flutter_app/lib/l10n/app_ja.arb
Labels: flutter_app

chore: COCOAPODS: 1.12.0
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

chore: Flutter 3.7.12
  .fvm/fvm_config.json
Labels: none

chore: update riverpod packages
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

refactor: use Raw type
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.g.dart
Labels: flutter_app

build(deps): bump url_launcher in /packages/flutter_app
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: update dio and retrofit
  packages/flutter_app/pubspec.lock
  packages/rest_api_client/lib/src/dio_client.dart
Labels: flutter_app

chore: update firebase packages
  FirebaseSDKVersionTag.txt
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_receiver/test/src/notification_configurator_test.mocks.dart
  packages/notification_receiver/test/src/notification_settings_provider_test.mocks.dart
  packages/notification_sender/test/src/notification_sender_test.mocks.dart
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/remote_parameter_fetcher/test/src/remote_parameter_fetcher_test.mocks.dart
Labels: flutter_app, ios, macos, test

build(deps): bump shared_preferences in /packages/flutter_app
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

Apply suggestions from code review
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: update riverpod packages (#184)
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.g.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

build(deps): bump google_sign_in in /packages/authenticator
  packages/authenticator/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: replace deprecated parameter
  packages/notification_sender/lib/src/notification_sender.dart
  packages/notification_sender/test/src/notification_sender_test.mocks.dart
Labels: test

chore: update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

chore: update go_router_builder
  packages/flutter_app/lib/gen/assets.gen.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

build(deps): bump cloud_firestore in /packages/flutter_app
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: update flutterfire packages
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
Labels: flutter_app, ios

build: bump to Flutter 3.10/Dart 3.0
  .fvm/fvm_config.json
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/android/build.gradle
  packages/flutter_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/lib/util/providers/locales_provider.dart
  packages/flutter_app/lib/util/providers/locales_provider.g.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: android, flutter_app, ios, themes

fix: Unnecessary 'break' statement
  packages/authenticator/lib/src/authenticator.dart
  packages/convenient_widgets/lib/src/bubble_border.dart
Labels: none

chore: change "flutter format" to "dart format"
  melos.yaml
Labels: none

build: update Podfile.lock for macos
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, macos

build: bump to Flutter 3.10/Dart 3.0 (#209)
  .fvm/fvm_config.json
  melos.yaml
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/lib/src/authenticator.dart
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/lib/src/bubble_border.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/android/build.gradle
  packages/flutter_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/lib/util/providers/locales_provider.dart
  packages/flutter_app/lib/util/providers/locales_provider.g.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: android, flutter_app, ios, macos, themes
