Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

chore: Remove unnecessary files
  packages/util/lib/src/local_preferences.dart
  packages/util/lib/util.dart
Labels: none

build: Bump Flutter to 3.24.0 with Dart 3.5.0 (#470)
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/local_preferences.dart
  packages/util/lib/util.dart
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

chore: update Podfile.lock for cloud_firestore
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

chore: Add built diffs
  packages/convenient_widgets/lib/gen/assets.gen.dart
Labels: none

build: Update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

ci: Fix build failure on Android
  packages/flutter_app/pubspec.lock
Labels: flutter_app

chore: Add iOS building diff
  packages/flutter_app/ios/Runner/AppDelegate.swift
Labels: flutter_app, ios

chore: Add macOS diff
  packages/flutter_app/macos/Runner/AppDelegate.swift
Labels: flutter_app, macos

ci: Fix build failure on Android (#476)
  packages/flutter_app/ios/Runner/AppDelegate.swift
  packages/flutter_app/macos/Runner/AppDelegate.swift
  packages/flutter_app/pubspec.lock
Labels: flutter_app, ios, macos

chore: Use colorScheme to specify colors
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_message_bubble.dart
Labels: flutter_app

Update packages/flutter_app/analysis_options.yaml
  packages/flutter_app/analysis_options.yaml
Labels: flutter_app

chore: Add ignore comment by setting avoid_hardcoded_color to true (#468)
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_message_bubble.dart
Labels: flutter_app

chore: Set "avoid_hard_coded_japanese" to true (#469)
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.yaml
  packages/flutter_app/lib/i18n/app_ja.yaml
  packages/flutter_app/lib/pages/riverpod_example_page/provider_page/provider_page.dart
  packages/flutter_app/test/features/update_requester/entities/requested_version_info_test.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.dart
  packages/flutter_app/test/util/json_converter/timestamp_converter_test.dart
  packages/flutter_app/test/util/logger/provider_logger_test.dart
Labels: flutter_app, test

chore: Set 'prefer_clock_now' to true
  packages/flutter_app/analysis_options.yaml
Labels: flutter_app

chore: change datetime to clock
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
Labels: flutter_app

chore: change datetime to clock
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
Labels: flutter_app

chore: change datetime to clock
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
Labels: flutter_app

chore: import clock package
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: change :Avoid direct access to the clock package
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: direct access clock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: Set "prefer_clock_now" to true (#477)
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: Update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Difference at application startup
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

chore: Difference by application launch
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/pubspec.lock
Labels: flutter_app, ios

build: update custom_lint
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: add *.log to search.exclude
  .vscode/settings.json
Labels: none

chore: Remove flutter from themes package
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
Labels: themes

build: Upgrade Flutter from 3.24.0 to 3.24.1
  .fvmrc
  .vscode/settings.json
Labels: none

chore: Update minimum Dart SDK to 3.5.1
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

chore: Support altive_lints 1.12.0 for util, convenient_widgets packages
  packages/convenient_widgets/lib/convenient_widgets.dart
  packages/convenient_widgets/lib/src/adaptive_bottom_bar.dart
  packages/convenient_widgets/lib/src/apple_auth_button.dart
  packages/convenient_widgets/lib/src/bubble_border.dart
  packages/convenient_widgets/lib/src/constant.dart
  packages/convenient_widgets/lib/src/dismissible_background.dart
  packages/convenient_widgets/lib/src/google_auth_button.dart
  packages/convenient_widgets/lib/src/unfocus_on_tap.dart
  packages/convenient_widgets/pubspec.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/lib/src/json_converter.dart/icon_data_converter.dart
  packages/util/pubspec.yaml
Labels: none

build: Upgrade Flutter from 3.24.0 to 3.24.1 (#485)
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/lib/convenient_widgets.dart
  packages/convenient_widgets/lib/src/adaptive_bottom_bar.dart
  packages/convenient_widgets/lib/src/apple_auth_button.dart
  packages/convenient_widgets/lib/src/bubble_border.dart
  packages/convenient_widgets/lib/src/constant.dart
  packages/convenient_widgets/lib/src/dismissible_background.dart
  packages/convenient_widgets/lib/src/google_auth_button.dart
  packages/convenient_widgets/lib/src/unfocus_on_tap.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/lib/src/json_converter.dart/icon_data_converter.dart
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

docs: Add doc comments
  README.md
  packages/flutter_app/lib/environment/src/firebase_options.dart
  packages/flutter_app/lib/environment/src/flavor_provider.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/themes/lib/src/altive_theme/dark_color_scheme.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_color_scheme.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bottom_navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_card_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_description.dart
  packages/themes/lib/src/altive_theme/utils/build_context_extension.dart
Labels: documentation, flutter_app, themes

fix: Re-add tasks that have not been executed
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

refactor: Merge appbar and body files into page
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_app_conversation_page.dart
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_message_bubble.dart
  packages/flutter_app/lib/pages/account/account_page.dart
  packages/flutter_app/lib/pages/account/components/account_page_app_bar.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/app_info_page/app_info_page.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_app_bar.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_app_bar.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/error_page.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_app_bar.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_body.dart
  packages/flutter_app/lib/pages/pinkie_mew/pinkie_mew_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/settings_page/settings_page.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/theme_selection_page.dart
  packages/themes/lib/src/altive_theme/altive_theme.dart
  packages/themes/lib/src/altive_theme/layout.dart
Labels: flutter_app, themes

refactor: Merge appbar and body files into page (#488)
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_app_conversation_page.dart
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_message_bubble.dart
  packages/flutter_app/lib/pages/account/account_page.dart
  packages/flutter_app/lib/pages/account/components/account_page_app_bar.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/app_info_page/app_info_page.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_app_bar.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_app_bar.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/error_page.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_app_bar.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_body.dart
  packages/flutter_app/lib/pages/pinkie_mew/pinkie_mew_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/settings_page/settings_page.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/theme_selection_page.dart
  packages/themes/lib/src/altive_theme/altive_theme.dart
  packages/themes/lib/src/altive_theme/layout.dart
Labels: flutter_app, themes

docs: Add doc comments (#486)
  README.md
  packages/flutter_app/lib/environment/src/firebase_options.dart
  packages/flutter_app/lib/environment/src/flavor_provider.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/themes/lib/src/altive_theme/dark_color_scheme.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_color_scheme.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bottom_navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_card_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_description.dart
  packages/themes/lib/src/altive_theme/utils/build_context_extension.dart
Labels: documentation, flutter_app, themes

fix: Re-add tasks that have not been executed (#487)
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

feat: Add script for post-clone setup in iOS CI
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
Labels: flutter_app, ios

build: Upgrade package versions
  packages/flutter_app/pubspec.lock
  packages/themes/pubspec.lock
Labels: flutter_app, themes

feat: Add script for post-clone setup in iOS CI (#489)
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
  packages/flutter_app/pubspec.lock
  packages/themes/pubspec.lock
Labels: flutter_app, ios, themes

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"
