Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

ci: Update dependabot configuration
  .github/dependabot.yml
Labels: none

chore: Remove unnecessary dependency pattern
  .github/dependabot.yml
Labels: none

ci: Update dependabot configuration (#315)
  .github/dependabot.yml
Labels: none

build: Update Flutter SDK version and VS Code settings
  .fvm/fvm_config.json
  .vscode/settings.json
  melos.yaml
Labels: none

fix: remove mipmap ignore from root
  .gitignore
Labels: none

build: downgrade flutter to 3.16.5
  .fvm/fvm_config.json
Labels: none

build: Remove generate:true from pubspec.yaml
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: add build_runner diffs
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
Labels: flutter_app, test

build: update Flutter to 3.16.9
  .fvm/fvm_config.json
Labels: none

build: Upgrade Flutter to 3.16.9 (#318)
  .fvm/fvm_config.json
  .gitignore
  .vscode/settings.json
  melos.yaml
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
Labels: flutter_app, test

build: Update Flutter from 3.16.9 to 3.19.0-0.3.pre
  .fvm/fvm_config.json
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/pubspec.lock
  packages/themes/pubspec.lock
  pubspec.lock
Labels: android, flutter_app, themes

build: extract dart define properties for Android
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

build: Update MinimumOSVersion to 12.0 for iOS
  packages/flutter_app/ios/Flutter/AppFrameworkInfo.plist
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

build: Update macOS platform version to 10.15
  packages/flutter_app/macos/Podfile
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, macos

build: extract dart define properties for iOS
  packages/flutter_app/.gitignore
  packages/flutter_app/ios/Flutter/Debug.xcconfig
  packages/flutter_app/ios/Flutter/Release.xcconfig
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/ios/scripts/extract_dart_defines.sh
Labels: flutter_app, ios

build: extract dart define properties for macOS
  packages/flutter_app/.gitignore
  packages/flutter_app/macos/Flutter/Flutter-Debug.xcconfig
  packages/flutter_app/macos/Flutter/Flutter-Release.xcconfig
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/macos/Runner/Info.plist
  packages/flutter_app/macos/scripts/extract_dart_defines.sh
Labels: flutter_app, macos

build: Change flutterSdkVersion to @beta
  .fvm/fvm_config.json
Labels: none

build: Add launch configuration for dev-release
  .vscode/launch.json
Labels: none

chore: Display app mode in AppInfoPage
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
Labels: flutter_app

build: update flutter_launcher_icons
  packages/flutter_app/flutter_launcher_icons-dev.yaml
  packages/flutter_app/flutter_launcher_icons-prod.yaml
  packages/flutter_app/flutter_launcher_icons-stg.yaml
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/Contents.json
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/Contents.json
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/Contents.json
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios

build: update flutter_launcher_icons (#320)
  packages/flutter_app/flutter_launcher_icons-dev.yaml
  packages/flutter_app/flutter_launcher_icons-prod.yaml
  packages/flutter_app/flutter_launcher_icons-stg.yaml
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/Contents.json
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/Contents.json
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/Contents.json
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios

build: Update Flutter from 3.16.9 to 3.19.0-0.3.pre
  .fvm/fvm_config.json
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/pubspec.lock
  packages/themes/pubspec.lock
  pubspec.lock
Labels: android, flutter_app, themes

revert flutter sdk version
  .fvm/fvm_config.json
Labels: none

fix minSdkVersion in build.gradle
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

downgrade dependencies
  packages/flutter_app/pubspec.lock
  packages/themes/pubspec.lock
Labels: flutter_app, themes

build: extract dart define properties for Android
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

build: extract dart define properties for iOS
  packages/flutter_app/.gitignore
  packages/flutter_app/ios/Flutter/Debug.xcconfig
  packages/flutter_app/ios/Flutter/Release.xcconfig
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/ios/scripts/extract_dart_defines.sh
Labels: flutter_app, ios

build: extract dart define properties for macOS
  packages/flutter_app/.gitignore
  packages/flutter_app/macos/Flutter/Flutter-Debug.xcconfig
  packages/flutter_app/macos/Flutter/Flutter-Release.xcconfig
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/macos/Runner/Info.plist
  packages/flutter_app/macos/scripts/extract_dart_defines.sh
Labels: flutter_app, macos

build: Add launch configuration for dev-release
  .vscode/launch.json
Labels: none

chore: Display app mode in AppInfoPage
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
Labels: flutter_app

Update Minimum iOS version
  .cspell/app-words.txt
  packages/flutter_app/ios/Flutter/AppFrameworkInfo.plist
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: flutter_app, ios

Update macOS platform version to 10.15
  packages/flutter_app/macos/Podfile
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: flutter_app, macos

build: Add propagation of dart-define-from-file to native (#321)
  .cspell/app-words.txt
  .vscode/launch.json
  packages/flutter_app/.gitignore
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/ios/Flutter/AppFrameworkInfo.plist
  packages/flutter_app/ios/Flutter/Debug.xcconfig
  packages/flutter_app/ios/Flutter/Release.xcconfig
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/ios/scripts/extract_dart_defines.sh
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/macos/Flutter/Flutter-Debug.xcconfig
  packages/flutter_app/macos/Flutter/Flutter-Release.xcconfig
  packages/flutter_app/macos/Podfile
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/macos/Runner/Info.plist
  packages/flutter_app/macos/scripts/extract_dart_defines.sh
  packages/flutter_app/pubspec.lock
  pubspec.lock
Labels: android, flutter_app, ios, macos

refactor: dart-define for Android
  packages/flutter_app/.gitignore
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

chore: move GoogleService-Info.plist file reference to Runner
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios

refactor: Update GoogleService-Info.plist path for macOS
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, macos

refactor: Improve dart define from file (#322)
  packages/flutter_app/.gitignore
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: android, flutter_app, ios, macos

fix: Fix googleReversedClientId in dev.env file
  packages/flutter_app/dart_defines/dev.env
Labels: flutter_app

fix: Fix googleReversedClientId in dev.env file (#326)
  packages/flutter_app/dart_defines/dev.env
Labels: flutter_app

chore: Update FVM to 3.0.0
  .fvm/fvm_config.json
  .fvmrc
  .gitignore
  .vscode/settings.json
Labels: none

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"
