Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - "**/android/**/*"

documentation:
  - "**/*.md"

flutter_app:
  - "packages/flutter_app/**/*"

ios:
  - "**/ios/**/*"

macos:
  - "**/macos/**/*"

test:
  - "**/test/**/*"

themes:
  - "packages/themes/**/*"

web:
  - "**/web/**/*"

ci: add fetch and switch
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

build(deps): install pods
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

ci: check after pod
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

ci: use GitHub App Token
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

build(deps): install pods
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

ci: add permissions
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

ci: use steps.generate_token.outputs.token
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

ci: add if: env.has_diff
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

ci: fix if
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

build(deps): install pods
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

ci: if directory not exists then skip
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

ci: fix Check if directory exists
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

chore: improve flutter check actions
  .github/workflows/flutter-app-code-check-for-ignore-files.yml
  .github/workflows/flutter-app-code-check.yml
  melos.yaml
Labels: none

fix: add double quote
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

ci: add concurrency
  .github/workflows/flutter-app-code-check-for-ignore-files.yml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

chore: improve flutter check actions (#245)
  .github/workflows/flutter-app-code-check-for-ignore-files.yml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/pod-install-for-dependabot.yaml
  melos.yaml
Labels: none

build: bump Riverpod to latest versions
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: remove unnecessary dependency overrides
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: regenerate files
  packages/flutter_app/lib/environment/src/flavor_provider.g.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.g.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/features/validator/validator_provider.g.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.g.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.g.dart
  packages/flutter_app/lib/router/router_provider.g.dart
  packages/flutter_app/lib/util/providers/app_lifecycle_state_provider.g.dart
  packages/flutter_app/lib/util/providers/locales_provider.g.dart
  packages/flutter_app/lib/util/providers/navigator_key_provider.g.dart
  packages/flutter_app/lib/util/providers/package_info_provider.g.dart
  packages/flutter_app/lib/util/providers/shared_preferences_provider.g.dart
Labels: flutter_app

build: bump Riverpod to latest versions (#246)
  packages/flutter_app/lib/environment/src/flavor_provider.g.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.g.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/features/validator/validator_provider.g.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.g.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.g.dart
  packages/flutter_app/lib/router/router_provider.g.dart
  packages/flutter_app/lib/util/providers/app_lifecycle_state_provider.g.dart
  packages/flutter_app/lib/util/providers/locales_provider.g.dart
  packages/flutter_app/lib/util/providers/navigator_key_provider.g.dart
  packages/flutter_app/lib/util/providers/package_info_provider.g.dart
  packages/flutter_app/lib/util/providers/shared_preferences_provider.g.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

fix: regenerate files
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
Labels: test

chore: update Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

build: bump app to 2.0.1+2
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

ci: use Organization variable
  .github/workflows/create-release-pull-request.yml
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

chore: remove old apps from README
  README.md
Labels: documentation

build: bump Flutter/Dart to 3.13.4/3.1.2
  .fvm/fvm_config.json
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

build: bump Flutter/Dart to 3.13.4/3.1.2 (#249)
  .fvm/fvm_config.json
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

chore: remove old apps from README (#248)
  README.md
Labels: documentation

ci: refactor github actions
  .github/CODEOWNERS
  .github/workflows/create-release-pull-request.yml
  .github/workflows/flutter-app-code-check-for-ignore-files.yml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/lint-github-actions-workflows.yaml
Labels: none

ci: update setup_flutter, remove stale actions
  .github/actions/setup_flutter/action.yml
  .github/workflows/upload_android_app_fat_prod.yml
  .github/workflows/upload_ios_app_fat_prod.yml
  .github/workflows/upload_ios_app_fat_stg.yml
Labels: none

ci: refactor github actions (#250)
  .github/CODEOWNERS
  .github/actions/setup_flutter/action.yml
  .github/workflows/create-release-pull-request.yml
  .github/workflows/flutter-app-code-check-for-ignore-files.yml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/lint-github-actions-workflows.yaml
  .github/workflows/upload_android_app_fat_prod.yml
  .github/workflows/upload_ios_app_fat_prod.yml
  .github/workflows/upload_ios_app_fat_stg.yml
Labels: none

build: bump CocoaPods to 1.13.0
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

build: bump Flutter to 3.13.5
  .fvm/fvm_config.json
Labels: none

chore: Podfile.lock for macos
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, macos

build: CocoaPodsとFlutterのバージョンを最新化 (#251)
  .fvm/fvm_config.json
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: update Podfile
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

chore: update Podfile & update FirebaseSDKVersionTag
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

build: change from tibdex/github-app-token@v1 to actions/create-github-app-token@v1
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

build: change from tibdex/github-app-token@v1 to actions/create-github-app-token@v1 (#260)
  .github/workflows/pod-install-for-dependabot.yaml
Labels: none

chore: update vscode settings
  .vscode/settings.json
Labels: none
