Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"

chore: Delete unused packages for amazon_paapi
  packages/amazon_paapi/.gitignore
  packages/amazon_paapi/.metadata
  packages/amazon_paapi/CHANGELOG.md
  packages/amazon_paapi/LICENSE
  packages/amazon_paapi/Makefile
  packages/amazon_paapi/README.md
  packages/amazon_paapi/analysis_options.yaml
  packages/amazon_paapi/lib/amazon_paapi.dart
  packages/amazon_paapi/lib/src/paapi/aws_v4_auth.dart
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_parameters.dart
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_parameters.freezed.dart
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_response.dart
  packages/amazon_paapi/lib/src/paapi/paapi_client.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_category.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_parameters.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_parameters.freezed.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_response.dart
  packages/amazon_paapi/lib/src/utils/logger.dart
  packages/amazon_paapi/lib/src/utils/utils.dart
  packages/amazon_paapi/pubspec.yaml
  packages/amazon_paapi/test/amazon_paapi_test.dart
Labels: documentation, test

chore: Delete unused packages for rest_api_client
  packages/rest_api_client/.gitignore
  packages/rest_api_client/.metadata
  packages/rest_api_client/CHANGELOG.md
  packages/rest_api_client/LICENSE
  packages/rest_api_client/README.md
  packages/rest_api_client/analysis_options.yaml
  packages/rest_api_client/lib/rest_api_client.dart
  packages/rest_api_client/lib/src/dio_client.dart
  packages/rest_api_client/pubspec.lock
  packages/rest_api_client/pubspec.yaml
Labels: documentation

chore: Remove unused dependencies and update package versions
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: Remove unneccesary packages (#330)
  packages/amazon_paapi/.gitignore
  packages/amazon_paapi/.metadata
  packages/amazon_paapi/CHANGELOG.md
  packages/amazon_paapi/LICENSE
  packages/amazon_paapi/Makefile
  packages/amazon_paapi/README.md
  packages/amazon_paapi/analysis_options.yaml
  packages/amazon_paapi/lib/amazon_paapi.dart
  packages/amazon_paapi/lib/src/paapi/aws_v4_auth.dart
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_parameters.dart
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_parameters.freezed.dart
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_response.dart
  packages/amazon_paapi/lib/src/paapi/paapi_client.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_category.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_parameters.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_parameters.freezed.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_response.dart
  packages/amazon_paapi/lib/src/utils/logger.dart
  packages/amazon_paapi/lib/src/utils/utils.dart
  packages/amazon_paapi/pubspec.yaml
  packages/amazon_paapi/test/amazon_paapi_test.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/rest_api_client/.gitignore
  packages/rest_api_client/.metadata
  packages/rest_api_client/CHANGELOG.md
  packages/rest_api_client/LICENSE
  packages/rest_api_client/README.md
  packages/rest_api_client/analysis_options.yaml
  packages/rest_api_client/lib/rest_api_client.dart
  packages/rest_api_client/lib/src/dio_client.dart
  packages/rest_api_client/pubspec.lock
  packages/rest_api_client/pubspec.yaml
Labels: documentation, flutter_app, test

chore: Add exclude rule for .idea
  .vscode/settings.json
Labels: none

chore: Remove flutter_sdk from melos.yaml
  melos.yaml
Labels: none

chore: Remove flutter sdk from melos (#331)
  .vscode/settings.json
  melos.yaml
Labels: none

chore: Update FVM to 3.0.0 (#329)
  .fvm/fvm_config.json
  .fvmrc
  .gitignore
  .vscode/settings.json
Labels: none

ci: Update Flutter FVM config action to v2
  .github/actions/setup_flutter/action.yml
Labels: none

ci: Update Flutter FVM config action to v2 (#334)
  .github/actions/setup_flutter/action.yml
Labels: none

chore: Change file from fvm_config to fvmrc
  .cspell/flutter-words.txt
  .github/workflows/flutter-app-code-check.yml
  Makefile
  README.md
  packages/flutter_app/README.md
Labels: documentation, flutter_app

chore: Remove japanese README file
  README-ja.md
Labels: documentation

chore: Change fvm config.json to .fvmrc (#335)
  .cspell/flutter-words.txt
  .github/workflows/flutter-app-code-check.yml
  Makefile
  README-ja.md
  README.md
  packages/flutter_app/README.md
Labels: documentation, flutter_app

chore: Execute auto-generation
  packages/authenticator/lib/src/apple_authenticator.g.dart
  packages/authenticator/lib/src/auth_user_provider.g.dart
  packages/authenticator/lib/src/authenticator.g.dart
  packages/authenticator/lib/src/firebase_auth_provider.g.dart
  packages/authenticator/lib/src/google_authenticator.g.dart
  packages/flutter_app/lib/router/router_provider.g.dart
Labels: flutter_app

Update freezed dependency version in melos.yaml
  melos.yaml
Labels: none

build: Bump Flutter to 3.19.0 with FVM 3.0
  .fvmrc
  .vscode/settings.json
Labels: none

build: Update Firebase SDK version to 10.20.0 Update CocoaPods version to 1.15.2
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/pubspec.lock
  packages/themes/pubspec.lock
Labels: flutter_app, ios, macos, themes

chore: Regenerate files with build_runner
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.g.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.mocks.dart
  packages/notification_sender/lib/src/notification_sender_provider.g.dart
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.g.dart
  packages/remote_parameter_fetcher/test/src/remote_parameter_fetcher_test.mocks.dart
Labels: flutter_app, test

build: Bump Flutter SDK version to 3.19 with FVM (#336)
  .fvmrc
  .vscode/settings.json
  FirebaseSDKVersionTag.txt
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/pubspec.lock
  packages/notification_receiver/lib/src/firebase_messaging_provider.g.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.mocks.dart
  packages/notification_sender/lib/src/notification_sender_provider.g.dart
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.g.dart
  packages/remote_parameter_fetcher/test/src/remote_parameter_fetcher_test.mocks.dart
  packages/themes/pubspec.lock
Labels: flutter_app, ios, macos, test, themes

chore: Bump build_runner
  melos.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
Labels: none

chore: Update generated files
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.g.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.mocks.dart
  packages/notification_sender/lib/src/notification_sender_provider.g.dart
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.g.dart
  packages/remote_parameter_fetcher/test/src/remote_parameter_fetcher_test.mocks.dart
Labels: test

build: Update SDK versions to 3.3.0
  melos.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

build: Update SDK versions to 3.3.0 (#342)
  melos.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

ci: build_runnerを絡めるGroupを追加
  .github/dependabot.yml
Labels: none

ci: build_runnerを絡めるGroupを追加 (#344)
  .github/dependabot.yml
Labels: none

chore: Add build diffs
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.g.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.mocks.dart
  packages/notification_sender/lib/src/notification_sender_provider.g.dart
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.g.dart
  packages/remote_parameter_fetcher/test/src/remote_parameter_fetcher_test.mocks.dart
Labels: test

chore: Add build diffs (#345)
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.g.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.mocks.dart
  packages/notification_sender/lib/src/notification_sender_provider.g.dart
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.g.dart
  packages/remote_parameter_fetcher/test/src/remote_parameter_fetcher_test.mocks.dart
Labels: test

chore: Update cloud_firestore version in Podfile.lock
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Update firebase_dynamic_links version in Podfile.lock
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

feat: Add altfire packages and provider files
  .cspell/organization-words.txt
  README.md
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/package_adaptor/authenticator_provider.dart
  packages/flutter_app/lib/package_adaptor/authenticator_provider.g.dart
  packages/flutter_app/lib/package_adaptor/tracker_provider.dart
  packages/flutter_app/lib/package_adaptor/tracker_provider.g.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: documentation, flutter_app

docs: Add package_adaptor directory with README.md
  packages/flutter_app/lib/package_adaptor/README.md
Labels: documentation, flutter_app

chore: Add DashboardPage and remove MePage
  packages/flutter_app/lib/features/me/view/me_page.dart
  packages/flutter_app/lib/pages/dashboard/dashboard_page.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
Labels: flutter_app

build: Bump Flutter to 3.19.1
  .fvmrc
  .vscode/settings.json
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, macos

build: Update Podfile.lock for iOS
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

build: Bump Flutter to 3.19.1 (#356)
  .fvmrc
  .vscode/settings.json
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

Build iOS/macOS
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Improve theme data and color scheme
  packages/flutter_app/lib/flutter_app.dart
  packages/themes/lib/src/altive_theme/altive_dark_color_scheme.dart
  packages/themes/lib/src/altive_theme/altive_theme.dart
  packages/themes/lib/src/altive_theme/app_text_theme.dart
  packages/themes/lib/src/altive_theme/dark_color_scheme.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_color_scheme.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
Labels: flutter_app, themes

chore:
  packages/flutter_app/lib/pages/main/main_page.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.g.dart
  packages/flutter_app/lib/router/app_routes.dart
Labels: flutter_app

chore: Remove unused words from app-words.txt
  .cspell/app-words.txt
Labels: none

chore: Improve theme data and color scheme (#364)
  packages/flutter_app/lib/flutter_app.dart
  packages/themes/lib/src/altive_theme/altive_dark_color_scheme.dart
  packages/themes/lib/src/altive_theme/altive_theme.dart
  packages/themes/lib/src/altive_theme/app_text_theme.dart
  packages/themes/lib/src/altive_theme/dark_color_scheme.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_color_scheme.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
Labels: flutter_app, themes
