Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

chore: update vscode settings (#261)
  .vscode/settings.json
Labels: none

build: move GoogleService-Info.plist to Runner directory
  .gitignore
  packages/flutter_app/.gitignore
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios, macos

chore: remove unnecessary files
  packages/flutter_app/ios/Gemfile
  packages/flutter_app/ios/Gemfile.lock
  packages/flutter_app/ios/fastlane/Appfile
  packages/flutter_app/ios/fastlane/Fastfile
  packages/flutter_app/ios/fastlane/Matchfile
Labels: flutter_app, ios

build: move GoogleService-Info.plist to Runner directory (#262)
  .gitignore
  packages/flutter_app/.gitignore
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios, macos

chore: remove unnecessary files (#263)
  packages/flutter_app/ios/Gemfile
  packages/flutter_app/ios/Gemfile.lock
  packages/flutter_app/ios/fastlane/Appfile
  packages/flutter_app/ios/fastlane/Fastfile
  packages/flutter_app/ios/fastlane/Matchfile
Labels: flutter_app, ios

use dart run, add analyze:custom_lint
  melos.yaml
Labels: none

update CodeCov file
  codecov.yml
Labels: none

bump to Flutter 3.13.9
  .fvm/fvm_config.json
Labels: none

update .gitignore for app
  packages/flutter_app/.gitignore
Labels: flutter_app

add queries.intent.https to AndroidManifest
  packages/flutter_app/android/app/src/main/AndroidManifest.xml
Labels: android, flutter_app

refactor: flavorProvider
  packages/flutter_app/lib/environment/src/flavor_provider.dart
  packages/flutter_app/lib/environment/src/flavor_provider.g.dart
  packages/flutter_app/lib/main.dart
Labels: flutter_app

add scaffoldMessengerKey to MaterialApp
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/util/providers/scaffold_messenger_key_provider.dart
  packages/flutter_app/lib/util/providers/scaffold_messenger_key_provider.g.dart
Labels: flutter_app

refactor navigatorKeyProvider
  packages/flutter_app/lib/util/providers/navigator_key_provider.dart
  packages/flutter_app/lib/util/providers/navigator_key_provider.g.dart
Labels: flutter_app

add configuration for automatically generated release notes
  .github/release.yml
Labels: none

refactor: AsyncNotifierProviderPage with tests
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/util/dio_provider.dart
  packages/flutter_app/lib/pages/riverpod_example_page/util/dio_provider.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/util/fake_dio.dart
  packages/flutter_app/lib/pages/riverpod_example_page/util/util.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
  packages/flutter_app/test/util/provider/listener.dart
  packages/flutter_app/test/util/provider/provider_container.dart
Labels: flutter_app, test

bump GoRouter to 12.0
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

reconfigure tabs
  packages/flutter_app/lib/features/explore/view/explore_page.dart
  packages/flutter_app/lib/features/me/view/me_page.dart
  packages/flutter_app/lib/features/post/view/post_page.dart
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/riverpod_example_page/riverpod_example_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/settings_page/settings_page.dart
  packages/flutter_app/lib/pages/top_level_tab/main_page.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_page.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.g.dart
Labels: flutter_app

delete unnecessary pages
  packages/flutter_app/lib/pages/signin/components/signin_page_app_bar.dart
  packages/flutter_app/lib/pages/signin/components/signin_page_body.dart
  packages/flutter_app/lib/pages/signin/signin_page.dart
  packages/flutter_app/lib/pages/splash/components/providers.dart
  packages/flutter_app/lib/pages/splash/components/splash_page_body.dart
  packages/flutter_app/lib/pages/splash/splash_page.dart
Labels: flutter_app

remove backgroundColor from bottomNavigationBarTheme
  packages/themes/lib/src/altive_theme/theme_data/app_bottom_navigation_bar_theme_data.dart
Labels: themes

bump to GoRouter 12, and reconfigure tabs (#264)
  packages/flutter_app/lib/features/explore/view/explore_page.dart
  packages/flutter_app/lib/features/me/view/me_page.dart
  packages/flutter_app/lib/features/post/view/post_page.dart
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/riverpod_example_page/riverpod_example_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/settings_page/settings_page.dart
  packages/flutter_app/lib/pages/signin/components/signin_page_app_bar.dart
  packages/flutter_app/lib/pages/signin/components/signin_page_body.dart
  packages/flutter_app/lib/pages/signin/signin_page.dart
  packages/flutter_app/lib/pages/splash/components/providers.dart
  packages/flutter_app/lib/pages/splash/components/splash_page_body.dart
  packages/flutter_app/lib/pages/splash/splash_page.dart
  packages/flutter_app/lib/pages/top_level_tab/main_page.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_page.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/router/router_provider.g.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/lib/src/altive_theme/theme_data/app_bottom_navigation_bar_theme_data.dart
Labels: flutter_app, themes

chore: update Podfile.lock
  .cspell/flutter-words.txt
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

chore: update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/pubspec.lock
Labels: flutter_app, ios

chore: update router_provider
  packages/flutter_app/lib/router/router_provider.g.dart
Labels: flutter_app

chore: Update FlutterFire configure commands
  melos.yaml
  packages/flutter_app/README.md
Labels: documentation, flutter_app

build: Update flutterSdkVersion to 3.16.0
  .fvm/fvm_config.json
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_category.dart
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/lib/src/altive_theme/app_dark_theme_data.dart
  packages/themes/lib/src/altive_theme/app_light_theme_data.dart
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

build: Update package directories in dependabot.yml
  .github/dependabot.yml
Labels: none

Update COCOAPODS version to 1.14.3
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

Update melos version to 3.2.0
  pubspec.lock
Labels: none

fix: --dart-define-from-fileで指定する設定ファイルを.envに変更
  .github/actions/upload_android_app/action.yml
  .gitignore
  .vscode/launch.json
  README-ja.md
  README.md
  melos.yaml
  packages/flutter_app/dart_defines/dev.env
  packages/flutter_app/dart_defines/dev.json
  packages/flutter_app/dart_defines/prod.env
  packages/flutter_app/dart_defines/prod.json
  packages/flutter_app/dart_defines/stg.env
  packages/flutter_app/dart_defines/stg.json
Labels: documentation, flutter_app

fix: --dart-define-from-fileで指定する設定ファイルを.envに変更
  .gitignore
  packages/flutter_app/.gitignore
Labels: flutter_app

fix: --dart-define-from-fileで指定する設定ファイルを.envに変更 (#284)
  .github/actions/upload_android_app/action.yml
  .gitignore
  .vscode/launch.json
  README-ja.md
  README.md
  melos.yaml
  packages/flutter_app/.gitignore
  packages/flutter_app/dart_defines/dev.env
  packages/flutter_app/dart_defines/dev.json
  packages/flutter_app/dart_defines/prod.env
  packages/flutter_app/dart_defines/prod.json
  packages/flutter_app/dart_defines/stg.env
  packages/flutter_app/dart_defines/stg.json
Labels: documentation, flutter_app

Internationalization using slang Fixes #283
  .vscode/page.code-snippets
  packages/flutter_app/README.md
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/l10n.yaml
  packages/flutter_app/lib/features/theme_selector/theme_mode_ext.dart
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.json
  packages/flutter_app/lib/i18n/app_ja.json
  packages/flutter_app/lib/l10n/app_en.arb
  packages/flutter_app/lib/l10n/app_ja.arb
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/pages/account/components/account_page_app_bar.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_app_bar.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_app_bar.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_app_bar.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_body.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab.dart
  packages/flutter_app/lib/util/localizer/localizer.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/slang.yaml
  packages/util/analysis_options.yaml
Labels: documentation, flutter_app

slangを使った多言語化
  .vscode/page.code-snippets
  melos.yaml
Labels: none

fix: DEBUG_INFORMATION_FORMAT for macOS
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, macos

chore: Update VSCode settings.json
  .vscode/settings.json
Labels: none

chore: Delete pull request template file
  .github/pull_request_template.md
Labels: documentation

Update DEBUG_INFORMATION_FORMAT in project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS (#287)
  .github/CODEOWNERS
Labels: none

.github/labeler.yml:

android:
  - "**/android/**/*"

documentation:
  - "**/*.md"

flutter_app:
  - "packages/flutter_app/**/*"

ios:
  - "**/ios/**/*"

macos:
  - "**/macos/**/*"

test:
  - "**/test/**/*"

themes:
  - "packages/themes/**/*"

web:
  - "**/web/**/*"
