Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - "**/android/**/*"

documentation:
  - "**/*.md"

flutter_app:
  - "packages/flutter_app/**/*"

ios:
  - "**/ios/**/*"

macos:
  - "**/macos/**/*"

test:
  - "**/test/**/*"

themes:
  - "packages/themes/**/*"

web:
  - "**/web/**/*"

fix: slangを使った多言語化
  .vscode/page.code-snippets
  packages/flutter_app/README.md
  packages/flutter_app/lib/features/theme_selector/theme_mode_ext.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.json
  packages/flutter_app/lib/i18n/app_ja.json
  packages/flutter_app/lib/pages/account/components/account_page_app_bar.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_app_bar.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_app_bar.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_app_bar.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_body.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab.dart
Labels: documentation, flutter_app

build: fix macOS launching (#286)
  .github/pull_request_template.md
  .vscode/settings.json
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: documentation, flutter_app, ios, macos

Add read-only file access entitlements for macOS
  packages/flutter_app/macos/Runner/DebugProfile.entitlements
  packages/flutter_app/macos/Runner/Release.entitlements
Labels: flutter_app, macos

Add read-only file access entitlements for macOS (#289)
  packages/flutter_app/macos/Runner/DebugProfile.entitlements
  packages/flutter_app/macos/Runner/Release.entitlements
Labels: flutter_app, macos

fix: slangを使った多言語化
  melos.yaml
Labels: none

ci: add timeout to workflows
  .github/workflows/assign-author-to-pr.yaml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/lint-github-actions-workflows.yaml
  .github/workflows/pod-install-for-dependabot.yaml
  .github/workflows/pull-request-labeler.yml
Labels: none

ci: update dependency schedule to weekly
  .github/dependabot.yml
Labels: none

Update timeout minutes in Flutter app code check
  .github/workflows/flutter-app-code-check.yml
Labels: none

fix: slangを使った多言語化
  .vscode/settings.json
  melos.yaml
Labels: none

fix: slangを使った多言語化 (#285)
  .vscode/page.code-snippets
  melos.yaml
  packages/flutter_app/README.md
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/l10n.yaml
  packages/flutter_app/lib/features/theme_selector/theme_mode_ext.dart
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.json
  packages/flutter_app/lib/i18n/app_ja.json
  packages/flutter_app/lib/l10n/app_en.arb
  packages/flutter_app/lib/l10n/app_ja.arb
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/pages/account/components/account_page_app_bar.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_app_bar.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_app_bar.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_app_bar.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_body.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab.dart
  packages/flutter_app/lib/util/localizer/localizer.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/slang.yaml
  packages/util/analysis_options.yaml
Labels: documentation, flutter_app

ci: Add timeout to workflows (#291)
  .github/dependabot.yml
  .github/workflows/assign-author-to-pr.yaml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/lint-github-actions-workflows.yaml
  .github/workflows/pod-install-for-dependabot.yaml
  .github/workflows/pull-request-labeler.yml
Labels: none

build: Add dependencies to melos
  melos.yaml
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/.gitignore
  packages/rest_api_client/pubspec.lock
  packages/rest_api_client/pubspec.yaml
  packages/themes/.gitignore
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
Labels: flutter_app, ios, macos, themes

build: build_runner diff
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_parameters.freezed.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_parameters.freezed.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.g.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.g.dart
Labels: flutter_app

build: Add melos command bootstrap dependencies (#300)
  melos.yaml
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_parameters.freezed.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_parameters.freezed.dart
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.g.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.g.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/.gitignore
  packages/rest_api_client/pubspec.lock
  packages/rest_api_client/pubspec.yaml
  packages/themes/.gitignore
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
Labels: flutter_app, ios, macos, themes

style: Remove comments and trailing comma from settings.json
  .vscode/settings.json
Labels: none

style: Remove comments and trailing comma from settings.json (#302)
  .vscode/settings.json
Labels: none

chore: Change slang files from JSON to YAML
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.json
  packages/flutter_app/lib/i18n/app_en.yaml
  packages/flutter_app/lib/i18n/app_ja.json
  packages/flutter_app/lib/i18n/app_ja.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/slang.yaml
Labels: flutter_app, ios

Change slang files from JSON to YAML Fixes #290
  packages/flutter_app/lib/main.dart
Labels: flutter_app

removed redundant comment
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/main.dart
Labels: flutter_app

style: Remove comments and trailing comma from settings.json (#302)
  .vscode/settings.json
Labels: none

added flutterLocale
  packages/flutter_app/lib/flutter_app.dart
Labels: flutter_app

chore: Change slang files from JSON to YAML (#301)
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.json
  packages/flutter_app/lib/i18n/app_en.yaml
  packages/flutter_app/lib/i18n/app_ja.json
  packages/flutter_app/lib/i18n/app_ja.yaml
  packages/flutter_app/lib/main.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/slang.yaml
Labels: flutter_app, ios

chore: Remove appIdSuffix and add appId representing the Bundle ID (Package name) to be used
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/dart_defines/dev.env
  packages/flutter_app/dart_defines/prod.env
  packages/flutter_app/dart_defines/stg.env
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: android, flutter_app, ios

chore: Remove appIdSuffix and add appId representing the Bundle ID (Package name) to be used (#313)
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/dart_defines/dev.env
  packages/flutter_app/dart_defines/prod.env
  packages/flutter_app/dart_defines/stg.env
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: android, flutter_app, ios
