Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

ci/cd: Add workflow for create new release tag
  .github/workflows/create-release-tag.yaml
Labels: none

chore: Change working directory to Flutter app directory in post-clone script
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
Labels: flutter_app, ios

build: Update Flutter build command in post-clone script
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
Labels: flutter_app, ios

ci/cd: Add workflow for create new release tag (#490)
  .github/workflows/create-release-tag.yaml
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
Labels: flutter_app, ios

build: bump app to 1.0.0+8
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

feat: Changed the installation method of `flutterfire_cli` in the post-clone script for Xcode Cloud
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
Labels: flutter_app, ios

feat: Changed the installation method of `flutterfire_cli` in the post-clone script for Xcode Cloud (#492)
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
Labels: flutter_app, ios

build: bump app to 1.0.0+9
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

build: bump app to 1.0.0+29
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: Remove mason
  .gitignore
  Makefile
Labels: none

chore: Remove mason (#494)
  .gitignore
  Makefile
Labels: none

build: Update Firebase packages
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
Labels: flutter_app, ios, macos

build: Fix building iOS with Xcode 16
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios

build: Build iOS with Xcode 16
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios

chore: Ignore public_member_api_docs
  packages/flutter_app/analysis_options.yaml
Labels: flutter_app

build: Build iOS with Xcode 16, Bump Firebase SDK to 11.0 (#495)
  FirebaseSDKVersionTag.txt
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
Labels: flutter_app, ios, macos

fix: Fix network image exception for macOS
  packages/flutter_app/macos/Runner/DebugProfile.entitlements
  packages/flutter_app/macos/Runner/Release.entitlements
Labels: flutter_app, macos

fix: Fix network image exception for macOS (#497)
  packages/flutter_app/macos/Runner/DebugProfile.entitlements
  packages/flutter_app/macos/Runner/Release.entitlements
Labels: flutter_app, macos

chore: Enable Custom Lint for util package and Update fvm-config-action to v3
  .github/actions/setup_flutter/action.yml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/pod-install-for-dependabot.yaml
  .github/workflows/upload-production-android-app.yaml
  .github/workflows/upload-staging-android-app.yaml
  .gitignore
  packages/util/analysis_options.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/pubspec.yaml
Labels: none

chore: Enable Custom Lint for util package and Update fvm-config-action to v3 (#501)
  .github/actions/setup_flutter/action.yml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
  .github/workflows/flutter-app-code-check.yml
  .github/workflows/pod-install-for-dependabot.yaml
  .github/workflows/upload-production-android-app.yaml
  .github/workflows/upload-staging-android-app.yaml
  .gitignore
  packages/util/analysis_options.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/pubspec.yaml
Labels: none

ci: Migrate Android Firebase KTX modules to main modules
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

ci: Migrate Android Firebase KTX modules to main modules (#502)
  packages/flutter_app/android/app/build.gradle
Labels: android, flutter_app

chore: Use latest version altive_lints with custom_lint for all packages
  packages/convenient_widgets/analysis_options.yaml
  packages/convenient_widgets/lib/src/apple_auth_button.dart
  packages/convenient_widgets/lib/src/dismissible_background.dart
  packages/convenient_widgets/lib/src/google_auth_button.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.dart
  packages/flutter_app/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/test/features/update_requester/entities/requested_version_info_test.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.dart
  packages/flutter_app/test/util/json_converter/timestamp_converter_test.dart
  packages/flutter_app/test/util/logger/provider_logger_test.dart
  packages/themes/analysis_options.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/pubspec.yaml
  packages/widget_catalog/analysis_options.yaml
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, test, themes

chore: Use latest version altive_lints with custom_lint for all packages (#503)
  packages/convenient_widgets/analysis_options.yaml
  packages/convenient_widgets/lib/src/apple_auth_button.dart
  packages/convenient_widgets/lib/src/dismissible_background.dart
  packages/convenient_widgets/lib/src/google_auth_button.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.dart
  packages/flutter_app/lib/pages/riverpod_example_page/namespace_provider_page/namespace_provider_page.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/test/features/update_requester/entities/requested_version_info_test.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.dart
  packages/flutter_app/test/util/json_converter/timestamp_converter_test.dart
  packages/flutter_app/test/util/logger/provider_logger_test.dart
  packages/themes/analysis_options.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/pubspec.yaml
  packages/widget_catalog/analysis_options.yaml
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, test, themes

refactor: melos pod scripts
  melos.yaml
Labels: none

refactor: take2 run to exec
  melos.yaml
Labels: none

build(deps): Bump Firebase dependencies
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

build(deps): Bump Firebase dependencies (#504)
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

chore: Generated diff of assets.gen.dart
  packages/convenient_widgets/lib/gen/assets.gen.dart
Labels: none

build(deps): Bump Flutter to 3.24.3 and Dart to 3.5.3
  .cspell/framework-words.txt
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

chore: Generated diff of assets.gen.dart (#507)
  packages/convenient_widgets/lib/gen/assets.gen.dart
Labels: none

build(deps): Bump Flutter to 3.24.3 and Dart to 3.5.3 (#508)
  .cspell/framework-words.txt
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

chore: Fix Riverpod code snippets
  .vscode/riverpod.code-snippets
Labels: none

refactor: Add 'slang:watch' script to melos
  melos.yaml
Labels: none

chore: Fix Riverpod code snippets (#510)
  .vscode/riverpod.code-snippets
Labels: none

refactor: Add 'slang:watch' script to melos (#511)
  melos.yaml
Labels: none

feat: Add keywords for Spotlight
  .cspell/framework-words.txt
  packages/flutter_app/ios/Runner/Info.plist
  packages/flutter_app/macos/Runner/Info.plist
Labels: flutter_app, ios, macos

Apply suggestions from code review
  packages/flutter_app/ios/Runner/Info.plist
  packages/flutter_app/macos/Runner/Info.plist
Labels: flutter_app, ios, macos

feat: Add keywords for Spotlight (#513)
  .cspell/framework-words.txt
  packages/flutter_app/ios/Runner/Info.plist
  packages/flutter_app/macos/Runner/Info.plist
Labels: flutter_app, ios, macos

build(deps): update altive_lints, build_runner, custom_lint, and uuid dependencies across multiple packages
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, themes

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"
