Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - "**/android/**/*"

documentation:
  - "**/*.md"

flutter_app:
  - "packages/flutter_app/**/*"

ios:
  - "**/ios/**/*"

macos:
  - "**/macos/**/*"

test:
  - "**/test/**/*"

themes:
  - "packages/themes/**/*"

web:
  - "**/web/**/*"

build(pub): update to altive_lints v1.7.0
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.yaml
Labels: flutter_app, themes

build: update to Flutter v3.10.1
  .fvm/fvm_config.json
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

refactor: Future.wait to Record.wait
  packages/flutter_app/lib/main.dart
Labels: flutter_app

chore: add quickfix to settings.json
  .vscode/settings.json
Labels: none

build(pub): update to altive_lints v1.7.0 (#210)
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.yaml
Labels: flutter_app, themes

build: Flutter v3.10.1 (#212)
  .fvm/fvm_config.json
  .vscode/settings.json
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/main.dart
Labels: flutter_app, ios

feat: device_info_plusを使用した、OS共有のデバイス情報クラス
  .cspell/flutter-words.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/features/user_device/model/user_device.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/features/user_device/user_device.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

chore: プライベートな_DeviceOsを削除して推奨のbool値を使用
  packages/flutter_app/lib/features/user_device/user_device.dart
Labels: flutter_app

feat: device_info_plusを使用した、OS共有のデバイス情報クラス (#214)
  .cspell/flutter-words.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/features/user_device/model/user_device.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/features/user_device/user_device.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

chore: flutterfireコマンドを使用してfirebase_app_id_file.jsonを生成
  packages/flutter_app/ios/dev/firebase_app_id_file.json
  packages/flutter_app/ios/prod/firebase_app_id_file.json
  packages/flutter_app/ios/stg/firebase_app_id_file.json
  packages/flutter_app/lib/environment/src/firebase_options_dev.dart
Labels: flutter_app, ios

chore: Firebase関連パッケージのバージョンアップ&iOSアプリでdSYMを自動アップロードするためのスクリプトを追加
  FirebaseSDKVersionTag.txt
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
Labels: flutter_app, ios, macos

chore: ios/firebase_app_id_file.jsonをignore
  .gitignore
Labels: none

chore: flutterfireコマンドを実行するmelosスクリプトを追加
  melos.yaml
Labels: none

chore: READMEのFlutterFire Configureの説明を更新
  packages/flutter_app/README.md
Labels: documentation, flutter_app

fix: melosのflutterfire:devの説明文を修正
  melos.yaml
Labels: none

feat: Crashlyticsのupload-symbolsスクリプトでdSYMを自動アップロードさせる設定を追加 (#216)
  .gitignore
  FirebaseSDKVersionTag.txt
  melos.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/README.md
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/dev/firebase_app_id_file.json
  packages/flutter_app/ios/prod/firebase_app_id_file.json
  packages/flutter_app/ios/stg/firebase_app_id_file.json
  packages/flutter_app/lib/environment/src/firebase_options_dev.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
Labels: documentation, flutter_app, ios, macos

feat: FlutterErrorやFlutter外部のエラーをCrashlyticsに送信する設定を追加
  packages/analysis_logger/lib/src/analysis_logger.dart
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.g.dart
Labels: flutter_app

chore: analysis_loggerからriverpod関連パッケージを削除
  packages/analysis_logger/lib/src/analysis_logger.dart
  packages/analysis_logger/pubspec.yaml
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.g.dart
Labels: flutter_app

chore: analyticsReporterをanalysisLoggerに変更
  packages/flutter_app/lib/main.dart
Labels: flutter_app

feat: FlutterErrorやFlutter外部のエラーをCrashlyticsに送信する設定を追加 (#217)
  packages/analysis_logger/lib/src/analysis_logger.dart
  packages/analysis_logger/pubspec.yaml
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.g.dart
Labels: flutter_app

chore: VS CodeのExplorer上でファイルをグループ化しネスト表示させる設定を追加
  .vscode/settings.json
Labels: none

refactor: authenticatorパッケージ内のProviderをGenerator Providerに置き換え
  packages/authenticator/build.yaml
  packages/authenticator/lib/src/apple_authenticator.dart
  packages/authenticator/lib/src/apple_authenticator.g.dart
  packages/authenticator/lib/src/auth_user_provider.dart
  packages/authenticator/lib/src/auth_user_provider.g.dart
  packages/authenticator/lib/src/authenticator.dart
  packages/authenticator/lib/src/authenticator.g.dart
  packages/authenticator/lib/src/firebase_auth_provider.dart
  packages/authenticator/lib/src/firebase_auth_provider.g.dart
  packages/authenticator/lib/src/google_authenticator.dart
  packages/authenticator/lib/src/google_authenticator.g.dart
Labels: none

refactor: notification_receiverパッケージ内のProviderをGenerator Providerに置き換え
  packages/notification_receiver/build.yaml
  packages/notification_receiver/lib/notification_receiver.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.g.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/lib/src/notification_settings_provider.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.mocks.dart
  packages/notification_receiver/test/src/notification_configurator_test.dart
  packages/notification_receiver/test/src/notification_settings_provider_test.dart
  packages/notification_receiver/test/src/notification_settings_provider_test.mocks.dart
Labels: test

refactor: notification_senderパッケージ内のProviderをGenerator Providerに置き換え
  packages/notification_sender/build.yaml
  packages/notification_sender/lib/notification_sender.dart
  packages/notification_sender/lib/src/notification_sender.dart
  packages/notification_sender/lib/src/notification_sender_provider.dart
  packages/notification_sender/lib/src/notification_sender_provider.g.dart
  packages/notification_sender/test/src/notification_sender_provider_test.dart
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
Labels: test

refactor: remote_parameter_fetcherパッケージ内のProviderをGenerator Providerに置き換え
  packages/remote_parameter_fetcher/build.yaml
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.dart
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/parameters/parameters.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.g.dart
Labels: none

refactor: flutter_appパッケージ内のProviderをGenerator Providerに置き換え
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.g.dart
  packages/flutter_app/lib/features/validator/validator_provider.dart
  packages/flutter_app/lib/features/validator/validator_provider.g.dart
  packages/flutter_app/test/features/theme_selector/theme_selector_provider_test.dart
Labels: flutter_app, test

chore: シンプルクラス用のRiverpodスニペットを追加
  .vscode/riverpod.code-snippets
Labels: none

fix: typo修正
  packages/notification_receiver/lib/src/notification_configurator_provider.dart
Labels: none

build: Melos v3.1.0
  pubspec.lock
  pubspec.yaml
Labels: none

chore: Makefileでmelosを使用するコマンドからfvmの接頭辞を削除
  Makefile
Labels: none

chore: Makefileにコード生成アクションを追加
  Makefile
Labels: none

chore: melos v3.1.0 (#219)
  Makefile
  pubspec.lock
  pubspec.yaml
Labels: none

refactor: ThemeDataの整理・改善
  packages/flutter_app/lib/flutter_app.dart
  packages/themes/lib/src/altive_theme/altive_theme.dart
  packages/themes/lib/src/altive_theme/altive_theme_data.dart
  packages/themes/lib/src/altive_theme/app_dark_theme_data.dart
  packages/themes/lib/src/altive_theme/app_light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bottom_navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_button_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_card_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_description.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_extensions.dart
  packages/themes/lib/src/altive_theme/utils/build_context_extension.dart
  packages/themes/lib/src/altive_theme/utils/text_style_extension.dart
Labels: flutter_app, themes

refactor: Textのstyleの設定を省略できる共通Widgetを追加
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/riverpod_example_page/listen_provider_page/listen_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/provider_page/provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_provider_page/state_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.dart
  packages/flutter_app/lib/pages/splash/components/splash_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/widgets/text_theme_text.dart
  packages/flutter_app/lib/widgets/widgets.dart
Labels: flutter_app

chore: ファイル保存時にセミコロンを挿入する設定を追加
  .vscode/settings.json
Labels: none

chore: ProviderObserverを追加
  packages/flutter_app/dart_defines/dev.json
  packages/flutter_app/dart_defines/prod.json
  packages/flutter_app/dart_defines/stg.json
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/util/extension/string_extension.dart
  packages/flutter_app/lib/util/logger/provider_logger.dart
  packages/flutter_app/test/util/logger/provider_logger_test.dart
Labels: flutter_app, test

chore: ProviderObserverを追加 (#221)
  .vscode/settings.json
  packages/flutter_app/dart_defines/dev.json
  packages/flutter_app/dart_defines/prod.json
  packages/flutter_app/dart_defines/stg.json
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/util/extension/string_extension.dart
  packages/flutter_app/lib/util/logger/provider_logger.dart
  packages/flutter_app/test/util/logger/provider_logger_test.dart
Labels: flutter_app, test

refactor: ThemeDataの整理・改善 (#220)
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/riverpod_example_page/listen_provider_page/listen_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/provider_page/provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_provider_page/state_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.dart
  packages/flutter_app/lib/pages/splash/components/splash_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/widgets/text_theme_text.dart
  packages/flutter_app/lib/widgets/widgets.dart
  packages/themes/lib/src/altive_theme/altive_theme.dart
  packages/themes/lib/src/altive_theme/altive_theme_data.dart
  packages/themes/lib/src/altive_theme/app_dark_theme_data.dart
  packages/themes/lib/src/altive_theme/app_light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bottom_navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_button_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_card_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_description.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_extensions.dart
  packages/themes/lib/src/altive_theme/utils/build_context_extension.dart
  packages/themes/lib/src/altive_theme/utils/text_style_extension.dart
Labels: flutter_app, themes

build: Flutter 3.10.3, Dart 3.0.3
  .fvm/fvm_config.json
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

chore: 自動生成漏れ対応
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
Labels: none
