Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - "**/android/**/*"

documentation:
  - "**/*.md"

flutter_app:
  - "packages/flutter_app/**/*"

ios:
  - "**/ios/**/*"

macos:
  - "**/macos/**/*"

test:
  - "**/test/**/*"

themes:
  - "packages/themes/**/*"

web:
  - "**/web/**/*"

build(ranking_note): update firestore
  packages/ranking_note_app/pubspec.lock
  packages/ranking_note_app/pubspec.yaml
Labels: none

fix: dev app id in README
  packages/flutter_app/README.md
Labels: documentation, flutter_app

feat(flutter_app): add logger
  packages/flutter_app/lib/src/util/logger.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: TopLevelTab to Enhanced enum
  packages/flutter_app/lib/src/pages/top_level_tab/top_level_tab.dart
Labels: flutter_app

chore: use logger
  packages/flutter_app/lib/src/flutter_app.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/listen_provider_page/listen_provider_page.dart
Labels: flutter_app

build: bump FirebaseSDKVersion from 9.6.0 to 10.3.0
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

fix: postclean in melos
  melos.yaml
Labels: none

build: add build_runner package
  packages/authenticator/pubspec.yaml
Labels: none

chore: remove TimestampOrNullConverter
  packages/flutter_app/lib/src/util/json_converter/timestamp_converter.dart
  packages/flutter_app/test/util/json_converter/timestamp_converter_test.dart
Labels: flutter_app, test

build: bump flutter to 3.7.0 with Dart 2.19.0
  .fvm/fvm_config.json
  packages/amazon_paapi/pubspec.lock
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.lock
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner/Info.plist
  packages/flutter_app/lib/src/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/src/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/src/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/listen_provider_page/listen_provider_page.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/provider_page/provider_page.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/state_provider_page/state_provider_page.dart
  packages/flutter_app/macos/Podfile
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.lock
  packages/util/pubspec.yaml
Labels: flutter_app, ios, macos, themes

chore: remove unused launch scripts
  .vscode/launch.json
Labels: none

fix: remove touch .env for restock_app
  Makefile
Labels: none

ci: fix echo
  .github/workflows/flutter-app-code-check.yml
Labels: none

chore: remove env files
  .github/workflows/flutter-app-code-check.yml
  Makefile
  packages/flutter_app/lib/src/environment/environment.dart
  packages/flutter_app/lib/src/environment/src/dev_env.dart
  packages/flutter_app/lib/src/environment/src/env.dart
  packages/flutter_app/lib/src/environment/src/env_provider.dart
  packages/flutter_app/lib/src/environment/src/env_provider.g.dart
  packages/flutter_app/lib/src/environment/src/prod_env.dart
  packages/flutter_app/lib/src/environment/src/stg_env.dart
Labels: flutter_app

chore: move todo model
  packages/flutter_app/lib/src/pages/riverpod_example_page/entities/todo.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/entities/todo.g.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
Labels: flutter_app

feat: add (Async)NotifierPage
  packages/flutter_app/lib/src/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.g.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.g.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/riverpod_example_page.dart
  packages/flutter_app/lib/src/router/app_routes.dart
  packages/flutter_app/lib/src/router/app_routes.g.dart
  packages/rest_api_client/lib/rest_api_client.dart
Labels: flutter_app

refactor: use context.mounted
  packages/flutter_app/lib/src/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/src/pages/splash/splash_page.dart
Labels: flutter_app

refactor: bump altive_lints to 1.6.1
  packages/amazon_paapi/lib/amazon_paapi.dart
  packages/amazon_paapi/pubspec.lock
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/lib/analysis_logger.dart
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/lib/authenticator.dart
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/lib/convenient_widgets.dart
  packages/convenient_widgets/pubspec.lock
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/lib/notification_receiver.dart
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/lib/notification_sender.dart
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/lib/remote_parameter_fetcher.dart
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/lib/themes.dart
  packages/themes/pubspec.yaml
  packages/util/lib/util.dart
  packages/util/pubspec.lock
  packages/util/pubspec.yaml
Labels: flutter_app, themes

ci: start when push to main branch
  .github/workflows/flutter-app-code-check.yml
Labels: none

chore: bump package_info_plus to 3.0.2
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: bump flutter_local_notifications to 13.0.0
  .cspell/app-words.txt
  packages/notification_sender/pubspec.yaml
Labels: none

chore: untrack package pubspec.lock
  packages/amazon_paapi/pubspec.lock
  packages/convenient_widgets/pubspec.lock
  packages/util/pubspec.lock
Labels: none

chore: add ci status badge to README
  README.md
Labels: documentation

chore: regenerate g.dart files
  packages/flutter_app/lib/src/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.g.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.g.dart
  packages/flutter_app/lib/src/router/router_provider.g.dart
  packages/flutter_app/lib/src/util/providers/app_lifecycle_state_provider.g.dart
  packages/flutter_app/lib/src/util/providers/locales_provider.g.dart
  packages/flutter_app/lib/src/util/providers/navigator_key_provider.g.dart
  packages/flutter_app/lib/src/util/providers/package_info_provider.g.dart
  packages/flutter_app/lib/src/util/providers/shared_preferences_provider.g.dart
Labels: flutter_app

chore: organize code-snippets files
  .vscode/freezed.code-snippets
  .vscode/page.code-snippets
  .vscode/riverpod.code-snippets
Labels: none

update dependabot.yml
  .github/dependabot.yml
Labels: none

feat: change dart-define to dart-define-from-file
  .github/actions/upload_android_app/action.yml
  .github/actions/upload_ios_app/action.yml
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  melos.yaml
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/dart_defines/dev.json
  packages/flutter_app/dart_defines/prod.json
  packages/flutter_app/dart_defines/stg.json
  packages/flutter_app/ios/Flutter/Debug.xcconfig
  packages/flutter_app/ios/Flutter/Release.xcconfig
  packages/flutter_app/ios/Flutter/dev.xcconfig
  packages/flutter_app/ios/Flutter/prod.xcconfig
  packages/flutter_app/ios/Flutter/stg.xcconfig
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/ios/Runner/Info.plist
  packages/flutter_app/ios/scripts/retrieve_dart_defines.sh
  packages/flutter_app/lib/main.dart
  packages/flutter_app/macos/Flutter/dev.xcconfig
  packages/flutter_app/macos/Flutter/prod.xcconfig
  packages/flutter_app/macos/Flutter/stg.xcconfig
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/macos/Runner/Configs/Debug.xcconfig
  packages/flutter_app/macos/Runner/Configs/Release.xcconfig
  packages/flutter_app/macos/scripts/retrieve_dart_defines.sh
Labels: android, flutter_app, ios, macos

build: update Podfile.lock for iOS and macOS
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: remove .env.sample
  packages/flutter_app/env/.env.sample
Labels: flutter_app

fix: add scrollable to AppInfoPage
  packages/flutter_app/lib/src/pages/app_info_page/components/app_info_body.dart
Labels: flutter_app

chore: add gitignore
  .gitignore
  packages/convenient_widgets/.gitignore
Labels: none

fix: Riverpod snippets
  .vscode/riverpod.code-snippets
Labels: none

chore: update pull_request_template
  .github/pull_request_template.md
Labels: documentation

chore: add ignore spell words
  .cspell/flutter-words.txt
Labels: none

chore: bump go_router from 5.2.4 to v6.0.2
  packages/flutter_app/lib/src/pages/not_found_page/error_page.dart
  packages/flutter_app/lib/src/router/app_routes.dart
  packages/flutter_app/lib/src/router/router_provider.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: update json_annotation and json_serializable
  packages/amazon_paapi/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/util/pubspec.yaml
Labels: flutter_app

chore: update riverpod_generator. generate_for
  packages/flutter_app/build.yaml
Labels: flutter_app

chore: regenerate code
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_parameters.freezed.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_parameters.freezed.dart
  packages/flutter_app/lib/src/router/router_provider.g.dart
  packages/notification_receiver/test/src/notification_configurator_test.mocks.dart
  packages/notification_receiver/test/src/notification_settings_provider_test.mocks.dart
  packages/notification_sender/test/src/notification_sender_test.mocks.dart
  packages/remote_parameter_fetcher/test/src/remote_parameter_fetcher_test.mocks.dart
Labels: flutter_app, test

add dart code snippets
  .vscode/dart.code-snippets
Labels: none

chore: update AsyncNotifier sample page
  .cspell/app-words.txt
  packages/flutter_app/lib/src/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.g.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/util/fake_dio.dart
  packages/flutter_app/lib/src/pages/riverpod_example_page/util/util.dart
  packages/rest_api_client/lib/rest_api_client.dart
Labels: flutter_app
