Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"

chore: Update Dependabot auto-merge workflow to use squash merge (#406)
  .github/workflows/dependabot-auto-merge.yaml
Labels: none

build(deps): remove modal_bottom_sheet dependency (#407)
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

ci: Add iOS app deployment workflows
  .github/actions/deploy_ios_app/action.yml
  .github/actions/upload_ios_app/action.yml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
Labels: none

ci: Add iOS app deployment workflows (#408)
  .github/actions/deploy_ios_app/action.yml
  .github/actions/upload_ios_app/action.yml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
Labels: none

fix: Launch app for Web
  packages/flutter_app/lib/features/user_device/model/user_device.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/main.dart
Labels: flutter_app

ios,macosでの動作確認が取れた、pod install完了
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

firebase関連の指定を削除
  melos.yaml
Labels: none

fix: Launch app for Web (#409)
  packages/flutter_app/lib/features/user_device/model/user_device.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/main.dart
Labels: flutter_app

chore: Update Firebase iOS SDK version from 10.24.0 to 10.25.0 (#410)
  FirebaseSDKVersionTag.txt
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

build: bump app to 1.0.0+2
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

ci: fix working directory for deploy workflows
  .cspell/flutter-words.txt
  .github/actions/deploy_ios_app/action.yml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
Labels: none

ci: fix working directory for deploy workflows (#412)
  .cspell/flutter-words.txt
  .github/actions/deploy_ios_app/action.yml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
Labels: none

build: bump app to 1.0.0+3
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

ci: Fix Flutter iOS build command to use environment file
  .github/actions/deploy_ios_app/action.yml
Labels: none

ci: Fix Flutter iOS build command to use environment file (#416)
  .github/actions/deploy_ios_app/action.yml
Labels: none

build: bump app to 1.0.0+4
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: Update user_device_provider.g.dart hash
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
Labels: flutter_app

build: remove flutter_lints dependency
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
Labels: themes

build: Update Flutter SDK to 3.22.0
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

chore: Respond to lint
  packages/convenient_widgets/lib/convenient_widgets.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/themes.dart
  packages/util/lib/util.dart
Labels: themes

build: Upgrade Flutter to 3.22.0 and Dart to 3.4.0 (#419)
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/lib/convenient_widgets.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/themes.dart
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/util.dart
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

ci: Fix ExportOptions.plist and Add UploadOptions.plist
  packages/flutter_app/ios/prod/ExportOptions.plist
  packages/flutter_app/ios/prod/UploadOptions.plist
  packages/flutter_app/ios/stg/ExportOptions.plist
  packages/flutter_app/ios/stg/UploadOptions.plist
Labels: flutter_app, ios

ci: Fix ExportOptions.plist and Add UploadOptions.plist (#420)
  packages/flutter_app/ios/prod/ExportOptions.plist
  packages/flutter_app/ios/prod/UploadOptions.plist
  packages/flutter_app/ios/stg/ExportOptions.plist
  packages/flutter_app/ios/stg/UploadOptions.plist
Labels: flutter_app, ios

build: bump app to 1.0.0+5
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

chore: Change cSpell words group from app to project
  .cspell/project-words.txt
  .vscode/settings.json
Labels: none

chore: Change cSpell words group from app to project (#422)
  .cspell/project-words.txt
  .vscode/settings.json
Labels: none

build: add Podfile.lock diff
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

chore: Remove Melos.command.bootstrap.dependencies/dev_dependencies
  melos.yaml
Labels: none

chore: Add build_runner diff
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/lib/gen/assets.gen.dart
Labels: flutter_app

chore: Remove Melos.command.bootstrap.dependencies/dev_dependencies (#429)
  melos.yaml
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/lib/gen/assets.gen.dart
Labels: flutter_app

ci: Update pods
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

ci: Upgrade to Flutter 3.22.0
  .fvmrc
  .vscode/settings.json
Labels: none

chore: add "flutter create" diffs
  packages/flutter_app/.gitignore
  packages/flutter_app/.metadata
  packages/flutter_app/ios/RunnerTests/RunnerTests.swift
  packages/flutter_app/macos/RunnerTests/RunnerTests.swift
Labels: flutter_app, ios, macos

chore: add flutter_launcher_icons script
  melos.yaml
Labels: none

chore: update .metadata file
  packages/flutter_app/.metadata
Labels: flutter_app

ci: Upgrade to Flutter 3.22.2 (#432)
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/flutter_app/.gitignore
  packages/flutter_app/.metadata
  packages/flutter_app/ios/RunnerTests/RunnerTests.swift
  packages/flutter_app/macos/RunnerTests/RunnerTests.swift
Labels: flutter_app, ios, macos

ci: Update flutterfire_cli
  .github/actions/deploy_ios_app/action.yml
  packages/flutter_app/firebase.json
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios, macos

fix: Fix android deploy workflow
  .cspell/flutter-words.txt
  .github/actions/upload_android_app/action.yml
Labels: none

chore: spelling only workspace files
  .vscode/settings.json
Labels: none

ci: Remove old "Crashlytics Upload Symbols" from Build phases
  packages/flutter_app/.gitignore
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, ios, macos
