Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

chore: Remove unused TopLevelTab (#365)
  .cspell/app-words.txt
  packages/flutter_app/lib/pages/main/main_page.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab_state_provider.g.dart
  packages/flutter_app/lib/router/app_routes.dart
Labels: flutter_app

build: Update Firebase SDK version and dependencies
  FirebaseSDKVersionTag.txt
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

feat: Update NavigationBar to Material 3
  packages/flutter_app/lib/pages/main/main_page.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_button_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
Labels: flutter_app, themes

chore: Update NavigationBarThemeData label behavior
  packages/themes/lib/src/altive_theme/theme_data/navigation_bar_theme_data.dart
Labels: themes

feat: Update NavigationBar to Material 3 (#366)
  packages/flutter_app/lib/pages/main/main_page.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_button_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
Labels: flutter_app, themes

refactor: Refactor scripts in melos.yaml
  melos.yaml
Labels: none

build: Run melos bs and pod install
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  pubspec.lock
Labels: flutter_app, ios, macos

chore: build runner diffs
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
Labels: flutter_app, test

ci: Update code analysis and formatting commands in workflow
  .github/workflows/flutter-app-code-check.yml
Labels: none

chore: Update code formatting command in workflow file
  .github/workflows/flutter-app-code-check.yml
Labels: none

refactor: Refactor scripts in melos.yaml (#368)
  .github/workflows/flutter-app-code-check.yml
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
  pubspec.lock
Labels: flutter_app, ios, macos, test

refactor: Update app initializations
  packages/flutter_app/build.yaml
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.g.dart
  packages/flutter_app/lib/features/user_device/model/model.dart
  packages/flutter_app/lib/features/user_device/user_device.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/initialization_provider.dart
  packages/flutter_app/lib/initialization_provider.g.dart
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/main_app.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.g.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/util/providers/package_info_provider.dart
  packages/flutter_app/lib/util/providers/providers.dart
  packages/flutter_app/test/features/theme_selector/theme_selector_provider_test.dart
Labels: flutter_app, test

fix:Remove getter
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
Labels: flutter_app

chore: melos.yamlで指定されているbuild_runnerのバージョンを更新
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
Labels: none

chore: build_runner差分
  packages/convenient_widgets/lib/gen/assets.gen.dart
Labels: none

chore: Podfile.lock更新
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

docs: Remove issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_addition.md
  README.md
Labels: documentation

docs: Remove issue templates (#377)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_addition.md
  README.md
Labels: documentation

chore: Update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

chore: Update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

fix: Show OS version for macOS
  packages/flutter_app/lib/features/user_device/model/user_device.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
Labels: flutter_app

docs: add comments for main initialization
  packages/flutter_app/lib/main.dart
Labels: flutter_app

chore: Remove delay for the test
  packages/flutter_app/lib/initialization_provider.dart
Labels: flutter_app

chore: Add generation diff
  packages/flutter_app/lib/initialization_provider.g.dart
Labels: flutter_app

refactor: Update app initializations (#371)
  packages/flutter_app/build.yaml
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.g.dart
  packages/flutter_app/lib/features/user_device/model/model.dart
  packages/flutter_app/lib/features/user_device/model/user_device.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/features/user_device/user_device.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/initialization_provider.dart
  packages/flutter_app/lib/initialization_provider.g.dart
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/main_app.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.dart
  packages/flutter_app/lib/package_adaptor/package_info_provider.g.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/router_provider.dart
  packages/flutter_app/lib/util/providers/package_info_provider.dart
  packages/flutter_app/lib/util/providers/providers.dart
  packages/flutter_app/test/features/theme_selector/theme_selector_provider_test.dart
Labels: flutter_app, test

update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
Labels: flutter_app, ios

updated freezed version in melos.yaml
  melos.yaml
Labels: none

chore: Upgrade all versions of altive_lints to 1.10.0
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/util/pubspec.yaml
Labels: flutter_app

feat: Add NetworkConnectionStateProvider
  packages/flutter_app/lib/pages/main/main_page.dart
  packages/flutter_app/lib/util/network_connectivity/connectivity_provider.dart
  packages/flutter_app/lib/util/network_connectivity/connectivity_provider.g.dart
  packages/flutter_app/lib/util/network_connectivity/network_connection_state_provider.dart
  packages/flutter_app/lib/util/network_connectivity/network_connection_state_provider.g.dart
  packages/flutter_app/lib/util/network_connectivity/network_connectivity.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/test/util/network_connectivity/connection_state_provider_test.dart
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.dart
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.mocks.dart
Labels: flutter_app, test

test: add expectations
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.dart
Labels: flutter_app, test

feat: Add NetworkConnectionStateProvider (#392)
  packages/flutter_app/lib/pages/main/main_page.dart
  packages/flutter_app/lib/util/network_connectivity/connectivity_provider.dart
  packages/flutter_app/lib/util/network_connectivity/connectivity_provider.g.dart
  packages/flutter_app/lib/util/network_connectivity/network_connection_state_provider.dart
  packages/flutter_app/lib/util/network_connectivity/network_connection_state_provider.g.dart
  packages/flutter_app/lib/util/network_connectivity/network_connectivity.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/test/util/network_connectivity/connection_state_provider_test.dart
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.dart
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.mocks.dart
Labels: flutter_app, test

build: Update Firebase SDK and Podfile.lock
  FirebaseSDKVersionTag.txt
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

chore: Update Podfile.lock
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

build: Update dependencies and dependabot
  .github/dependabot.yml
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

build: Update dependencies and dependabot (#399)
  .github/dependabot.yml
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

ci: Add Dependabot Automatic merge workflow
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yaml
Labels: none

fix version-update:semver-patch
  .github/workflows/dependabot-auto-merge.yaml
Labels: none

ci: Add Dependabot Automatic merge workflow (#402)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yaml
Labels: none

chore: Update Dependabot auto-merge workflow to use squash merge
  .github/workflows/dependabot-auto-merge.yaml
Labels: none

build(deps): remove modal_bottom_sheet dependency
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"
