Repository altive/flutter_app_template, changes with the labels that .github/labeler.yml gives for each.
All labels: android, documentation, flutter_app, ios, macos, test, themes, web

.github/labeler.yml:

android:
  - changed-files:
      - any-glob-to-any-file: "**/android/**/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

flutter_app:
  - changed-files:
      - any-glob-to-any-file: "packages/flutter_app/**/*"

ios:
  - changed-files:
      - any-glob-to-any-file: "**/ios/**/*"

macos:
  - changed-files:
      - any-glob-to-any-file: "**/macos/**/*"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

themes:
  - changed-files:
      - any-glob-to-any-file: "packages/themes/**/*"

web:
  - changed-files:
      - any-glob-to-any-file: "**/web/**/*"

chore: move Options.plist files
  .github/actions/deploy_ios_app/action.yml
  packages/flutter_app/.gitignore
  packages/flutter_app/README.md
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner/prod/ExportOptions.plist
  packages/flutter_app/ios/Runner/prod/UploadOptions.plist
  packages/flutter_app/ios/Runner/stg/ExportOptions.plist
  packages/flutter_app/ios/Runner/stg/UploadOptions.plist
  packages/flutter_app/pubspec.yaml
Labels: documentation, flutter_app, ios

fix(flutter_app): flavor supports (#567)
  .cspell/framework-words.txt
  .cspell/organization-words.txt
  .github/actions/deploy_ios_app/action.yml
  .vscode/launch.json
  melos.yaml
  packages/flutter_app/.gitignore
  packages/flutter_app/README.md
  packages/flutter_app/android/app/build.gradle.kts
  packages/flutter_app/android/app/src/dev/google-services.json
  packages/flutter_app/android/app/src/main/kotlin/jp/co/altive/fat/MainActivity.kt
  packages/flutter_app/android/app/src/main/kotlin/jp/co/altive/fat/flutter_app/MainActivity.kt
  packages/flutter_app/android/app/src/prod/google-services.json
  packages/flutter_app/android/app/src/stg/google-services.json
  packages/flutter_app/android/settings.gradle.kts
  packages/flutter_app/firebase.json
  packages/flutter_app/ios/Flutter/Debug-dev.xcconfig
  packages/flutter_app/ios/Flutter/Debug-prod.xcconfig
  packages/flutter_app/ios/Flutter/Debug-stg.xcconfig
  packages/flutter_app/ios/Flutter/Release-dev.xcconfig
  packages/flutter_app/ios/Flutter/Release-prod.xcconfig
  packages/flutter_app/ios/Flutter/Release-stg.xcconfig
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner/dev/GoogleService-Info.plist
  packages/flutter_app/ios/Runner/prod/ExportOptions.plist
  packages/flutter_app/ios/Runner/prod/GoogleService-Info.plist
  packages/flutter_app/ios/Runner/prod/UploadOptions.plist
  packages/flutter_app/ios/Runner/stg/ExportOptions.plist
  packages/flutter_app/ios/Runner/stg/GoogleService-Info.plist
  packages/flutter_app/ios/Runner/stg/UploadOptions.plist
  packages/flutter_app/lib/pages/initialization_page.dart
  packages/flutter_app/pubspec.yaml
Labels: android, documentation, flutter_app, ios

build(flutter): Bump Flutter to 3.32
  .fvmrc
  .vscode/settings.json
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/stg.xcscheme
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
  packages/flutter_app/pubspec.yaml
  packages/themes/lib/src/altive_theme/theme_data/app_card_theme_data.dart
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, ios, themes

build: Dart 3.8.0 with altive_lints 1.20.0
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

refactor: move scripts to pubspec.yaml and delete melos.yaml
  melos.yaml
  pubspec.yaml
Labels: none

update freezed and json_serializable
  .vscode/freezed.code-snippets
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.g.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.g.dart
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.g.dart
  packages/pub_dev_api_client/lib/src/models/package_name.dart
  packages/pub_dev_api_client/lib/src/models/package_name.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_name.g.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.g.dart
  packages/pub_dev_api_client/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
Labels: flutter_app

ci: add melos analyze script
  .github/workflows/flutter-app-code-check.yml
  pubspec.yaml
Labels: none

ci: use melos bootstrap, use flutter analyze
  .github/workflows/flutter-app-code-check.yml
  .vscode/freezed.code-snippets
  Makefile
  pubspec.yaml
Labels: none

build(ios): enable Swift Package Manager
  .cspell/framework-words.txt
  .vscode/settings.json
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/stg.xcscheme
  packages/flutter_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/pubspec.yaml
  pubspec.lock
Labels: flutter_app, ios

fix: custom_lint
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
  packages/flutter_app/test/util/network_connectivity/connectivity_provider_test.mocks.dart
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, test, themes

build(ios): enable Swift Package Manager
  .cspell/framework-words.txt
  .vscode/settings.json
  FirebaseSDKVersionTag.txt
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/stg.xcscheme
  packages/flutter_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/pubspec.yaml
  pubspec.lock
Labels: flutter_app, ios

build: use Swift Package Manager with Flutter 3.32.1
  .fvmrc
  .vscode/settings.json
  README.md
  packages/flutter_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/pubspec.yaml
  pubspec.lock
Labels: documentation, flutter_app, ios

ci: Enable Auto-Approve for dependabot PR
  .github/workflows/dependabot-auto-merge.yaml
Labels: none

build(ios): enable Swift Package Manager (#571)
  .cspell/framework-words.txt
  .fvmrc
  .vscode/settings.json
  FirebaseSDKVersionTag.txt
  README.md
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/stg.xcscheme
  packages/flutter_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/pubspec.yaml
  pubspec.lock
Labels: documentation, flutter_app, ios

ci: Enable Auto-Approve for dependabot PR (#578)
  .github/workflows/dependabot-auto-merge.yaml
Labels: none

fix: Organize build.yaml with GoRouter v15
  packages/convenient_widgets/build.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/build.yaml
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/build.yaml
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.g.dart
  packages/pub_dev_api_client/lib/src/models/package_name.g.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.g.dart
  packages/pub_dev_api_client/pubspec.yaml
  packages/widget_catalog/build.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app

fix: Organize build.yaml with GoRouter v15 (#580)
  packages/convenient_widgets/build.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/build.yaml
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/build.yaml
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.g.dart
  packages/pub_dev_api_client/lib/src/models/package_name.g.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.g.dart
  packages/pub_dev_api_client/pubspec.yaml
  packages/widget_catalog/build.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app

fix: code generation for go_router_builder
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/build.yaml
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/branches/branches.dart
  packages/flutter_app/lib/router/branches/dashboard_routes.dart
  packages/flutter_app/lib/router/branches/explore_routes.dart
  packages/flutter_app/lib/router/branches/home_routes.dart
  packages/flutter_app/lib/router/branches/pub_dev_packages_routes.dart
  packages/flutter_app/lib/router/branches/settings_routers.dart
  packages/flutter_app/lib/router/router.dart
  packages/flutter_app/lib/router/router_provider.dart
Labels: flutter_app

refactor: use part directive
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/branches/dashboard.dart
  packages/flutter_app/lib/router/branches/explore.dart
  packages/flutter_app/lib/router/branches/home.dart
  packages/flutter_app/lib/router/branches/pub_dev_packages.dart
  packages/flutter_app/lib/router/branches/settings.dart
Labels: flutter_app

chore: build_runner
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_name.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.freezed.dart
Labels: flutter_app

fix: @override annotation for ErrorRoute
  packages/flutter_app/lib/pages/not_found_page/error_page.dart
Labels: flutter_app

build: bump Flutter to 3.35.3
  .cspell/framework-words.txt
  .fvmrc
  .vscode/settings.json
  codecov.yml
  docs/CONTRIBUTING.md
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Flutter/AppFrameworkInfo.plist
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_package_details_provider.dart
  packages/flutter_app/lib/pages/theme_selection_page/theme_selection_page.dart
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/lib/main.dart
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, flutter_app, ios, themes

fix custom_lint and remove cocoapods
  packages/flutter_app/ios/Flutter/Debug-dev.xcconfig
  packages/flutter_app/ios/Flutter/Debug-prod.xcconfig
  packages/flutter_app/ios/Flutter/Debug-stg.xcconfig
  packages/flutter_app/ios/Flutter/Debug.xcconfig
  packages/flutter_app/ios/Flutter/Release-dev.xcconfig
  packages/flutter_app/ios/Flutter/Release-prod.xcconfig
  packages/flutter_app/ios/Flutter/Release-stg.xcconfig
  packages/flutter_app/ios/Flutter/Release.xcconfig
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, ios

build widget_catalog with spm
  .github/workflows/pod-install-for-dependabot.yaml
  packages/widget_catalog/macos/Podfile.lock
  packages/widget_catalog/macos/Runner.xcodeproj/project.pbxproj
  packages/widget_catalog/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  pubspec.yaml
Labels: macos

build: bump Flutter to 3.35.3 (#612)
  .cspell/framework-words.txt
  .fvmrc
  .github/workflows/pod-install-for-dependabot.yaml
  .vscode/settings.json
  codecov.yml
  docs/CONTRIBUTING.md
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Flutter/AppFrameworkInfo.plist
  packages/flutter_app/ios/Flutter/Debug-dev.xcconfig
  packages/flutter_app/ios/Flutter/Debug-prod.xcconfig
  packages/flutter_app/ios/Flutter/Debug-stg.xcconfig
  packages/flutter_app/ios/Flutter/Debug.xcconfig
  packages/flutter_app/ios/Flutter/Release-dev.xcconfig
  packages/flutter_app/ios/Flutter/Release-prod.xcconfig
  packages/flutter_app/ios/Flutter/Release-stg.xcconfig
  packages/flutter_app/ios/Flutter/Release.xcconfig
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/flutter_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_package_details_provider.dart
  packages/flutter_app/lib/pages/theme_selection_page/theme_selection_page.dart
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/lib/main.dart
  packages/widget_catalog/macos/Podfile.lock
  packages/widget_catalog/macos/Runner.xcodeproj/project.pbxproj
  packages/widget_catalog/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, flutter_app, ios, macos, themes

build: increase min OS to iOS 15.0 and Android API level 24
  packages/flutter_app/android/app/build.gradle.kts
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/flutter_app/lib/pages/home_page/home_page.dart
Labels: android, flutter_app, ios

build: bump altive_lints to 2.0.0 stable
  .cspell/framework-words.txt
  packages/convenient_widgets/pubspec.yaml
  packages/core/authenticator/pubspec.yaml
  packages/core/configurator/pubspec.yaml
  packages/core/messenger/pubspec.yaml
  packages/core/tracker/pubspec.yaml
  packages/core/utils/analysis_options.yaml
  packages/core/utils/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/analysis_options.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

build: bump altive_lints to 2.0.0 stable (#630)
  .cspell/framework-words.txt
  packages/convenient_widgets/pubspec.yaml
  packages/core/authenticator/pubspec.yaml
  packages/core/configurator/pubspec.yaml
  packages/core/messenger/pubspec.yaml
  packages/core/tracker/pubspec.yaml
  packages/core/utils/analysis_options.yaml
  packages/core/utils/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/analysis_options.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

feat: Flutter 3.38.5 and altive_lints 2.1.0
  .fvmrc
  .gitattributes
  .vscode/settings.json
  packages/convenient_widgets/pubspec.yaml
  packages/core/authenticator/pubspec.yaml
  packages/core/configurator/pubspec.yaml
  packages/core/messenger/pubspec.yaml
  packages/core/tracker/pubspec.yaml
  packages/core/utils/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

refactor: update root pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

feat: Flutter 3.38.5 and altive_lints 2.1.0 (#631)
  .fvmrc
  .gitattributes
  .vscode/settings.json
  packages/convenient_widgets/pubspec.yaml
  packages/core/authenticator/pubspec.yaml
  packages/core/configurator/pubspec.yaml
  packages/core/messenger/pubspec.yaml
  packages/core/tracker/pubspec.yaml
  packages/core/utils/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

build: remove retrofit and retrofit_generator
  .cspell/framework-words.txt
  docs/dependency-adoption-principles.md
  packages/flutter_app/lib/package_adaptor/pub_dev_api_client_provider.dart
  packages/pub_dev_api_client/build.yaml
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.dart
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.g.dart
  packages/pub_dev_api_client/pubspec.yaml
  packages/pub_dev_api_client/test/src/pub_dev_api_client_test.dart
  pubspec.lock
  pubspec.yaml
Labels: documentation, flutter_app, test

Apply suggestions from code review
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.dart
  packages/pub_dev_api_client/test/src/pub_dev_api_client_test.dart
Labels: test

build: remove retrofit and retrofit_generator (#632)
  .cspell/framework-words.txt
  docs/dependency-adoption-principles.md
  packages/flutter_app/lib/package_adaptor/pub_dev_api_client_provider.dart
  packages/pub_dev_api_client/build.yaml
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.dart
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.g.dart
  packages/pub_dev_api_client/pubspec.yaml
  packages/pub_dev_api_client/test/src/pub_dev_api_client_test.dart
  pubspec.lock
  pubspec.yaml
Labels: documentation, flutter_app, test

chore: improve code spell checker
  .cspell.yaml
  .cspell/framework-words.txt
  .cspell/organization-words.txt
  .cspell/project-words.txt
  .github/workflows/spell-check.yml
  .vscode/settings.json
  docs/reactive-sequence.pu
  packages/flutter_app/lib/util/json_converter/timestamp_supplementer.dart
  packages/themes/README.md
  packages/util/README.md
Labels: documentation, flutter_app, themes

chore: improve code spell checker (#633)
  .cspell.yaml
  .cspell/framework-words.txt
  .cspell/organization-words.txt
  .cspell/project-words.txt
  .github/workflows/spell-check.yml
  .vscode/settings.json
  docs/reactive-sequence.pu
  packages/flutter_app/lib/util/json_converter/timestamp_supplementer.dart
  packages/themes/README.md
  packages/util/README.md
Labels: documentation, flutter_app, themes

ci: bump macOS from 13 to 26 on CI
  .cspell.yaml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
  .vscode/settings.json
Labels: none

ci: bump macOS from 13 to 26 on CI (#635)
  .cspell.yaml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/deploy-ios-production-app.yaml
  .github/workflows/deploy-ios-staging-app.yaml
  .vscode/settings.json
Labels: none

chore: Flutter 3.38.7
  .cspell.yaml
  .fvmrc
  .github/dependabot.yml
  .vscode/freezed.code-snippets
  .vscode/riverpod.code-snippets
  .vscode/settings.json
  codecov.yml
  mason-lock.json
  mason.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/core/authenticator/pubspec.yaml
  packages/core/configurator/pubspec.yaml
  packages/core/messenger/pubspec.yaml
  packages/core/tracker/pubspec.yaml
  packages/core/utils/pubspec.yaml
  packages/flutter_app/README.md
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, flutter_app, themes

chore: Flutter 3.38.7 (#636)
  .cspell.yaml
  .fvmrc
  .github/dependabot.yml
  .vscode/freezed.code-snippets
  .vscode/riverpod.code-snippets
  .vscode/settings.json
  codecov.yml
  mason-lock.json
  mason.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/core/authenticator/pubspec.yaml
  packages/core/configurator/pubspec.yaml
  packages/core/messenger/pubspec.yaml
  packages/core/tracker/pubspec.yaml
  packages/core/utils/pubspec.yaml
  packages/flutter_app/README.md
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, flutter_app, themes
