Repository altive/flutter_app_template, pull requests merged in 2023-05, with the labels that each got.

#209 build: bump to Flutter 3.10/Dart 3.0
  .fvm/fvm_config.json
  melos.yaml
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/lib/src/authenticator.dart
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/lib/src/bubble_border.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/android/build.gradle
  packages/flutter_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/lib/util/providers/locales_provider.dart
  packages/flutter_app/lib/util/providers/locales_provider.g.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, android, ios, macos, themes

#210 build(pub): update to altive_lints v1.7.0
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/pubspec.yaml
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  pubspec.yaml
Labels: flutter_app, themes

#212 build: Flutter v3.10.1
  .fvm/fvm_config.json
  .vscode/settings.json
  packages/flutter_app/ios/Podfile
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/main.dart
Labels: flutter_app, ios

#214 feat: device_info_plusを使用した、OS共有のデバイス情報クラス
  .cspell/flutter-words.txt
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/features/user_device/model/user_device.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/features/user_device/user_device.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.g.dart
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

#216 feat: Crashlyticsのupload-symbolsスクリプトでdSYMを自動アップロードさせる設定を追加
  .gitignore
  FirebaseSDKVersionTag.txt
  melos.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/flutter_app/README.md
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/ios/dev/firebase_app_id_file.json
  packages/flutter_app/ios/prod/firebase_app_id_file.json
  packages/flutter_app/ios/stg/firebase_app_id_file.json
  packages/flutter_app/lib/environment/src/firebase_options_dev.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
Labels: documentation, flutter_app, ios, macos

#217 feat: FlutterErrorやFlutter外部のエラーをCrashlyticsに送信する設定を追加
  packages/analysis_logger/lib/src/analysis_logger.dart
  packages/analysis_logger/pubspec.yaml
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.dart
  packages/flutter_app/lib/package_adaptor/analysis_logger/analysis_logger_provider.g.dart
Labels: flutter_app

#218 feat: 既存のProviderをGenerator Providerに統一
  .vscode/riverpod.code-snippets
  .vscode/settings.json
  packages/authenticator/build.yaml
  packages/authenticator/lib/src/apple_authenticator.dart
  packages/authenticator/lib/src/apple_authenticator.g.dart
  packages/authenticator/lib/src/auth_user_provider.dart
  packages/authenticator/lib/src/auth_user_provider.g.dart
  packages/authenticator/lib/src/authenticator.dart
  packages/authenticator/lib/src/authenticator.g.dart
  packages/authenticator/lib/src/firebase_auth_provider.dart
  packages/authenticator/lib/src/firebase_auth_provider.g.dart
  packages/authenticator/lib/src/google_authenticator.dart
  packages/authenticator/lib/src/google_authenticator.g.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.g.dart
  packages/flutter_app/lib/features/validator/validator_provider.dart
  packages/flutter_app/lib/features/validator/validator_provider.g.dart
  packages/flutter_app/test/features/theme_selector/theme_selector_provider_test.dart
  packages/notification_receiver/build.yaml
  packages/notification_receiver/lib/notification_receiver.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.dart
  packages/notification_receiver/lib/src/firebase_messaging_provider.g.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.dart
  packages/notification_receiver/lib/src/notification_configurator_provider.g.dart
  packages/notification_receiver/lib/src/notification_settings_provider.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.dart
  packages/notification_receiver/test/src/notification_configurator_provider_test.mocks.dart
  packages/notification_receiver/test/src/notification_configurator_test.dart
  packages/notification_receiver/test/src/notification_settings_provider_test.dart
  packages/notification_receiver/test/src/notification_settings_provider_test.mocks.dart
  packages/notification_sender/build.yaml
  packages/notification_sender/lib/notification_sender.dart
  packages/notification_sender/lib/src/notification_sender.dart
  packages/notification_sender/lib/src/notification_sender_provider.dart
  packages/notification_sender/lib/src/notification_sender_provider.g.dart
  packages/notification_sender/test/src/notification_sender_provider_test.dart
  packages/notification_sender/test/src/notification_sender_provider_test.mocks.dart
  packages/remote_parameter_fetcher/build.yaml
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.dart
  packages/remote_parameter_fetcher/lib/src/parameters/is_under_maintenance_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/parameters/parameters.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.dart
  packages/remote_parameter_fetcher/lib/src/parameters/required_version_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.dart
  packages/remote_parameter_fetcher/lib/src/remote_config_provider.g.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.dart
  packages/remote_parameter_fetcher/lib/src/remote_parameter_fetcher_provider.g.dart
Labels: flutter_app, test

#220 refactor: ThemeDataの整理・改善
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/riverpod_example_page/listen_provider_page/listen_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/provider_page/provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_provider_page/state_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/stream_provider_page.dart/stream_provider_page.dart
  packages/flutter_app/lib/pages/splash/components/splash_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/widgets/text_theme_text.dart
  packages/flutter_app/lib/widgets/widgets.dart
  packages/themes/lib/src/altive_theme/altive_theme.dart
  packages/themes/lib/src/altive_theme/altive_theme_data.dart
  packages/themes/lib/src/altive_theme/app_dark_theme_data.dart
  packages/themes/lib/src/altive_theme/app_light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bottom_navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_button_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_card_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_description.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_extensions.dart
  packages/themes/lib/src/altive_theme/utils/build_context_extension.dart
  packages/themes/lib/src/altive_theme/utils/text_style_extension.dart
Labels: flutter_app, themes
