Repository altive/flutter_app_template, pull requests merged in 2023-12, with the labels that each got.

#284 fix: --dart-define-from-fileで指定する設定ファイルを.envに変更
  .github/actions/upload_android_app/action.yml
  .gitignore
  .vscode/launch.json
  README-ja.md
  README.md
  melos.yaml
  packages/flutter_app/.gitignore
  packages/flutter_app/dart_defines/dev.env
  packages/flutter_app/dart_defines/dev.json
  packages/flutter_app/dart_defines/prod.env
  packages/flutter_app/dart_defines/prod.json
  packages/flutter_app/dart_defines/stg.env
  packages/flutter_app/dart_defines/stg.json
Labels: documentation, flutter_app

#289 Add read-only file access entitlements for macOS
  packages/flutter_app/macos/Runner/DebugProfile.entitlements
  packages/flutter_app/macos/Runner/Release.entitlements
Labels: flutter_app, macos

#285 fix: slangを使った多言語化
  .vscode/page.code-snippets
  melos.yaml
  packages/flutter_app/README.md
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/l10n.yaml
  packages/flutter_app/lib/features/theme_selector/theme_mode_ext.dart
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.json
  packages/flutter_app/lib/i18n/app_ja.json
  packages/flutter_app/lib/l10n/app_en.arb
  packages/flutter_app/lib/l10n/app_ja.arb
  packages/flutter_app/lib/main.dart
  packages/flutter_app/lib/pages/account/components/account_page_app_bar.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_app_bar.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_app_bar.dart
  packages/flutter_app/lib/pages/home_page/components/home_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_app_bar.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_body.dart
  packages/flutter_app/lib/pages/top_level_tab/top_level_tab.dart
  packages/flutter_app/lib/util/localizer/localizer.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/slang.yaml
  packages/util/analysis_options.yaml
Labels: documentation, flutter_app

#300 build: Add melos command bootstrap dependencies
  melos.yaml
  packages/amazon_paapi/lib/src/paapi/get_items/paapi_get_items_parameters.freezed.dart
  packages/amazon_paapi/lib/src/paapi/search_items/paapi_search_items_parameters.freezed.dart
  packages/amazon_paapi/pubspec.yaml
  packages/analysis_logger/pubspec.yaml
  packages/authenticator/pubspec.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.freezed.dart
  packages/flutter_app/lib/features/update_requester/entities/requested_version_info.g.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.freezed.dart
  packages/flutter_app/lib/pages/riverpod_example_page/entities/todo.g.dart
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/notification_receiver/pubspec.yaml
  packages/notification_sender/pubspec.yaml
  packages/remote_parameter_fetcher/pubspec.yaml
  packages/rest_api_client/.gitignore
  packages/rest_api_client/pubspec.lock
  packages/rest_api_client/pubspec.yaml
  packages/themes/.gitignore
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
Labels: flutter_app, ios, macos, themes
