Repository altive/flutter_app_template, pull requests merged in 2024-12, with the labels that each got.

#521 feat: Add a REST API Client package
  packages/flutter_app/lib/features/post/view/post_page.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_package_details_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_package_details_provider.g.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/pub_dev_packages_page_state_provider.g.dart
  packages/flutter_app/lib/features/pub_dev_packages/query/query.dart
  packages/flutter_app/lib/features/pub_dev_packages/view/pub_dev_packages_page.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/gen/strings_en.g.dart
  packages/flutter_app/lib/gen/strings_ja.g.dart
  packages/flutter_app/lib/i18n/app_en.yaml
  packages/flutter_app/lib/i18n/app_ja.yaml
  packages/flutter_app/lib/package_adaptor/pub_dev_api_client_provider.dart
  packages/flutter_app/lib/package_adaptor/pub_dev_api_client_provider.g.dart
  packages/flutter_app/lib/router/app_routes.dart
  packages/flutter_app/lib/router/app_routes.g.dart
  packages/flutter_app/lib/router/branches/branches.dart
  packages/flutter_app/lib/router/branches/post_routes.dart
  packages/flutter_app/lib/router/branches/pub_dev_packages_routes.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/.gitignore
  packages/pub_dev_api_client/.metadata
  packages/pub_dev_api_client/analysis_options.yaml
  packages/pub_dev_api_client/lib/pub_dev_api_client.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.g.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.g.dart
  packages/pub_dev_api_client/lib/src/models/models.dart
  packages/pub_dev_api_client/lib/src/models/package_name.dart
  packages/pub_dev_api_client/lib/src/models/package_name.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_name.g.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.g.dart
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.dart
  packages/pub_dev_api_client/lib/src/pub_dev_api_client.g.dart
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/pub_dev_api_client/test/src/pub_dev_api_client_test.dart
Labels: flutter_app, test

#533 chore: Fix several issues
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_package_details_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.dart
  packages/pub_dev_api_client/lib/src/models/get_searched_packages_response_body.freezed.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.dart
  packages/pub_dev_api_client/lib/src/models/latest_package_release.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_name.dart
  packages/pub_dev_api_client/lib/src/models/package_name.freezed.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.dart
  packages/pub_dev_api_client/lib/src/models/package_pubspec.freezed.dart
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, macos

#534 chore(deps): Flutter 3.27.1 and Dart 3.6.0
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/.gitignore
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner/AppDelegate.swift
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/pubspec.yaml
  packages/util/test/src/json_converter.dart/color_converter_test.dart
  packages/widget_catalog/lib/main.dart
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
Labels: flutter_app, ios, macos, test, themes

#535 refactor: Pub workspace with Melos
  .cspell/framework-words.txt
  .github/workflows/flutter-app-code-check.yml
  Makefile
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/pub_dev_api_client/pubspec.lock
  packages/pub_dev_api_client/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/pubspec.yaml
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, ios, macos, themes
