Repository altive/flutter_app_template, pull requests merged in 2024-01, with the labels that each got.

#301 chore: Change slang files from JSON to YAML
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/lib/flutter_app.dart
  packages/flutter_app/lib/gen/strings.g.dart
  packages/flutter_app/lib/i18n/app_en.json
  packages/flutter_app/lib/i18n/app_en.yaml
  packages/flutter_app/lib/i18n/app_ja.json
  packages/flutter_app/lib/i18n/app_ja.yaml
  packages/flutter_app/lib/main.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/slang.yaml
Labels: flutter_app, ios

#313 chore: Remove appIdSuffix and add appId representing the Bundle ID (P…
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/dart_defines/dev.env
  packages/flutter_app/dart_defines/prod.env
  packages/flutter_app/dart_defines/stg.env
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, android, ios

#318 build: Upgrade Flutter to 3.16.9
  .fvm/fvm_config.json
  .gitignore
  .vscode/settings.json
  melos.yaml
  packages/flutter_app/pubspec.yaml
  packages/flutter_app/test/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page_test.mocks.dart
Labels: flutter_app, test

#320 build: update flutter_launcher_icons
  packages/flutter_app/flutter_launcher_icons-dev.yaml
  packages/flutter_app/flutter_launcher_icons-prod.yaml
  packages/flutter_app/flutter_launcher_icons-stg.yaml
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/AppIcon-dev-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset/Contents.json
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/AppIcon-prod-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset/Contents.json
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-50x50@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-50x50@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-57x57@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-57x57@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-72x72@1x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/AppIcon-stg-72x72@2x.png
  packages/flutter_app/ios/Runner/Assets.xcassets/AppIcon-stg.appiconset/Contents.json
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios

#321 build: Add propagation of dart-define-from-file to native
  .cspell/app-words.txt
  .vscode/launch.json
  packages/flutter_app/.gitignore
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/ios/Flutter/AppFrameworkInfo.plist
  packages/flutter_app/ios/Flutter/Debug.xcconfig
  packages/flutter_app/ios/Flutter/Release.xcconfig
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/ios/scripts/extract_dart_defines.sh
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/macos/Flutter/Flutter-Debug.xcconfig
  packages/flutter_app/macos/Flutter/Flutter-Release.xcconfig
  packages/flutter_app/macos/Podfile
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/flutter_app/macos/Runner/Info.plist
  packages/flutter_app/macos/scripts/extract_dart_defines.sh
  packages/flutter_app/pubspec.lock
  pubspec.lock
Labels: flutter_app, android, ios, macos

#322 refactor: Improve dart define from file
  packages/flutter_app/.gitignore
  packages/flutter_app/android/app/build.gradle
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Runner.xcodeproj/project.pbxproj
Labels: flutter_app, android, ios, macos
