Repository altive/flutter_app_template, pull requests merged in 2024-09, with the labels that each got.

#489 feat: Add script for post-clone setup in iOS CI
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
  packages/flutter_app/pubspec.lock
  packages/themes/pubspec.lock
Labels: flutter_app, ios, themes

#490 ci/cd: Add workflow for create new release tag
  .github/workflows/create-release-tag.yaml
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
Labels: flutter_app, ios

#492 feat: Changed the installation method of `flutterfire_cli` in the post-clone script for Xcode Cloud
  packages/flutter_app/ios/ci_scripts/ci_post_clone.sh
Labels: flutter_app, ios

#495 build: Build iOS with Xcode 16, Bump Firebase SDK to 11.0
  FirebaseSDKVersionTag.txt
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/ios/Runner.xcodeproj/project.pbxproj
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
Labels: flutter_app, ios, macos

#498 feat: Add Widget Catalog with widgetbook
  .cspell/framework-words.txt
  .vscode/launch.json
  packages/widget_catalog/.gitignore
  packages/widget_catalog/.metadata
  packages/widget_catalog/README.md
  packages/widget_catalog/analysis_options.yaml
  packages/widget_catalog/build.yaml
  packages/widget_catalog/lib/main.dart
  packages/widget_catalog/lib/main.directories.g.dart
  packages/widget_catalog/lib/widgets/apple_auth_button.dart
  packages/widget_catalog/lib/widgets/bubble_border.dart
  packages/widget_catalog/lib/widgets/google_auth_button.dart
  packages/widget_catalog/macos/.gitignore
  packages/widget_catalog/macos/Flutter/Flutter-Debug.xcconfig
  packages/widget_catalog/macos/Flutter/Flutter-Release.xcconfig
  packages/widget_catalog/macos/Runner.xcodeproj/project.pbxproj
  packages/widget_catalog/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/widget_catalog/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/widget_catalog/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/widget_catalog/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/widget_catalog/macos/Runner/AppDelegate.swift
  packages/widget_catalog/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/widget_catalog/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/widget_catalog/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/widget_catalog/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/widget_catalog/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/widget_catalog/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/widget_catalog/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/widget_catalog/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/widget_catalog/macos/Runner/Base.lproj/MainMenu.xib
  packages/widget_catalog/macos/Runner/Configs/AppInfo.xcconfig
  packages/widget_catalog/macos/Runner/Configs/Debug.xcconfig
  packages/widget_catalog/macos/Runner/Configs/Release.xcconfig
  packages/widget_catalog/macos/Runner/Configs/Warnings.xcconfig
  packages/widget_catalog/macos/Runner/DebugProfile.entitlements
  packages/widget_catalog/macos/Runner/Info.plist
  packages/widget_catalog/macos/Runner/MainFlutterWindow.swift
  packages/widget_catalog/macos/Runner/Release.entitlements
  packages/widget_catalog/macos/RunnerTests/RunnerTests.swift
  packages/widget_catalog/pubspec.lock
  packages/widget_catalog/pubspec.yaml
  packages/widget_catalog/web/favicon.png
  packages/widget_catalog/web/icons/Icon-192.png
  packages/widget_catalog/web/icons/Icon-512.png
  packages/widget_catalog/web/icons/Icon-maskable-192.png
  packages/widget_catalog/web/icons/Icon-maskable-512.png
  packages/widget_catalog/web/index.html
  packages/widget_catalog/web/manifest.json
Labels: documentation, macos, web

#497 fix: Fix network image exception for macOS
  packages/flutter_app/macos/Runner/DebugProfile.entitlements
  packages/flutter_app/macos/Runner/Release.entitlements
Labels: flutter_app, macos
