Repository altive/flutter_app_template, pull requests merged in 2024-08, with the labels that each got.

#462 build(deps): Update altive_lints to 1.11.1
  .github/workflows/flutter-app-code-check.yml
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/pages/home_page/home_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/util/fake_dio.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/util/analysis_options.yaml
Labels: flutter_app

#470 build: Bump Flutter to 3.24.0 with Dart 3.5.0
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/local_preferences.dart
  packages/util/lib/util.dart
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

#476 ci: Fix build failure on Android
  packages/flutter_app/ios/Runner/AppDelegate.swift
  packages/flutter_app/macos/Runner/AppDelegate.swift
  packages/flutter_app/pubspec.lock
Labels: flutter_app, ios, macos

#468 chore: Add ignore comment by setting avoid_hardcoded_color to true
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_message_bubble.dart
Labels: flutter_app

#477 chore: Set "prefer_clock_now" to true
  packages/flutter_app/analysis_options.yaml
  packages/flutter_app/lib/pages/riverpod_example_page/async_notifier_provider_page/async_notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/notifier_provider_page/notifier_provider_page.dart
  packages/flutter_app/lib/pages/riverpod_example_page/state_notifier_provider_page/state_notifier_provider_page.dart
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

#485 build: Upgrade Flutter from 3.24.0 to 3.24.1
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/lib/convenient_widgets.dart
  packages/convenient_widgets/lib/src/adaptive_bottom_bar.dart
  packages/convenient_widgets/lib/src/apple_auth_button.dart
  packages/convenient_widgets/lib/src/bubble_border.dart
  packages/convenient_widgets/lib/src/constant.dart
  packages/convenient_widgets/lib/src/dismissible_background.dart
  packages/convenient_widgets/lib/src/google_auth_button.dart
  packages/convenient_widgets/lib/src/unfocus_on_tap.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.yaml
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/src/json_converter.dart/color_converter.dart
  packages/util/lib/src/json_converter.dart/icon_data_converter.dart
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

#488 refactor: Merge appbar and body files into page
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_app_conversation_page.dart
  packages/flutter_app/lib/features/cookbook/chat_ui/chat_message_bubble.dart
  packages/flutter_app/lib/pages/account/account_page.dart
  packages/flutter_app/lib/pages/account/components/account_page_app_bar.dart
  packages/flutter_app/lib/pages/account/components/account_page_body.dart
  packages/flutter_app/lib/pages/app_info_page/app_info_page.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_app_bar.dart
  packages/flutter_app/lib/pages/app_info_page/components/app_info_body.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_app_bar.dart
  packages/flutter_app/lib/pages/not_found_page/components/not_found_page_body.dart
  packages/flutter_app/lib/pages/not_found_page/error_page.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_app_bar.dart
  packages/flutter_app/lib/pages/pinkie_mew/components/pinkie_mew_page_body.dart
  packages/flutter_app/lib/pages/pinkie_mew/pinkie_mew_page.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_app_bar.dart
  packages/flutter_app/lib/pages/settings_page/components/settings_page_body.dart
  packages/flutter_app/lib/pages/settings_page/settings_page.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_app_bar.dart
  packages/flutter_app/lib/pages/theme_selection_page/components/theme_selection_page_body.dart
  packages/flutter_app/lib/pages/theme_selection_page/theme_selection_page.dart
  packages/themes/lib/src/altive_theme/altive_theme.dart
  packages/themes/lib/src/altive_theme/layout.dart
Labels: flutter_app, themes

#486 docs: Add doc comments
  README.md
  packages/flutter_app/lib/environment/src/firebase_options.dart
  packages/flutter_app/lib/environment/src/flavor_provider.dart
  packages/flutter_app/lib/features/theme_selector/theme_selector_provider.dart
  packages/themes/lib/src/altive_theme/dark_color_scheme.dart
  packages/themes/lib/src/altive_theme/dark_theme_data.dart
  packages/themes/lib/src/altive_theme/light_color_scheme.dart
  packages/themes/lib/src/altive_theme/light_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_bottom_navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_card_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_chip_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/navigation_bar_theme_data.dart
  packages/themes/lib/src/altive_theme/theme_data/theme_data.dart
  packages/themes/lib/src/altive_theme/theme_extensions/theme_description.dart
  packages/themes/lib/src/altive_theme/utils/build_context_extension.dart
Labels: documentation, flutter_app, themes

#487 fix: Re-add tasks that have not been executed
  packages/flutter_app/android/app/build.gradle
Labels: flutter_app, android
