Repository altive/flutter_app_template, pull requests merged in 2024-05, with the labels that each got.

#399 build: Update dependencies and dependabot
  .github/dependabot.yml
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app, ios, macos

#407 build(deps): remove modal_bottom_sheet dependency
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
Labels: flutter_app

#409 fix: Launch app for Web
  packages/flutter_app/lib/features/user_device/model/user_device.dart
  packages/flutter_app/lib/features/user_device/model/user_device.freezed.dart
  packages/flutter_app/lib/features/user_device/user_device_provider.dart
  packages/flutter_app/lib/main.dart
Labels: flutter_app

#410 chore: Update Firebase iOS SDK version from 10.24.0 to 10.25.0
  FirebaseSDKVersionTag.txt
  melos.yaml
  packages/flutter_app/ios/Podfile.lock
  packages/flutter_app/macos/Podfile.lock
Labels: flutter_app, ios, macos

#419 build: Upgrade Flutter to 3.22.0 and Dart to 3.4.0
  .fvmrc
  .vscode/settings.json
  melos.yaml
  packages/convenient_widgets/lib/convenient_widgets.dart
  packages/convenient_widgets/pubspec.yaml
  packages/flutter_app/pubspec.lock
  packages/flutter_app/pubspec.yaml
  packages/themes/lib/src/altive_theme/theme_data/app_input_decoration_theme_data.dart
  packages/themes/lib/themes.dart
  packages/themes/pubspec.lock
  packages/themes/pubspec.yaml
  packages/util/lib/util.dart
  packages/util/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: flutter_app, themes

#420 ci: Fix ExportOptions.plist and Add UploadOptions.plist
  packages/flutter_app/ios/prod/ExportOptions.plist
  packages/flutter_app/ios/prod/UploadOptions.plist
  packages/flutter_app/ios/stg/ExportOptions.plist
  packages/flutter_app/ios/stg/UploadOptions.plist
Labels: flutter_app, ios

#429 chore: Remove Melos.command.bootstrap.dependencies/dev_dependencies
  melos.yaml
  packages/convenient_widgets/lib/gen/assets.gen.dart
  packages/flutter_app/lib/gen/assets.gen.dart
Labels: flutter_app
